﻿@using System.Web.UI.WebControls.WebParts
@model PatientListModel
<table id="partyTable" class="grid dataTable" style="width:2500px;">
    <thead>
        <tr>
            <th>Action</th>
            @if (User.IsInRole(Role.Admin) == true)
            {
                <th>Group</th>
                <th>Home Group</th>
            }
            <th>Last Name</th>
            <th>First Name</th>
            <th>Party Type</th>
            <th>Cell Phone</th>
            <th>Home Phone</th>
            <th>Work Phone</th>
            <th>Email</th>
            @if (User.IsInRole(Role.Admin) == true)
            {
                <th>DOB</th>
            }
            <th>Gender</th>
            @if (User.IsInRole(Role.Admin) == true)
            {
                <th>Race</th>
            }
            <th>Address Line1</th>
            <th>County</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Status</th>
            @if (User.IsInRole(Role.Admin) == true)
            {
                <th>Start Date</th>
                <th>End Date</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var party in Model.Parties)
        {
            string deleteClass = string.Empty;
            if (party.isPartyActive == false)
            {
                deleteClass = "delete";
            }
            <tr class="@deleteClass">
                <td>
                    @if ( Helper.CurrentUser.IsInRole(Role.Admin) == true || 
                        Helper.CurrentUser.IsInRole(Role.GroupAdmin) == true)
                    {
                        var dropDownId = string.Format("DropButton{0}", @party.id);
                        @*<a href="EditParty?partyId=@party.id" title="Edit Party" class="small button"><i class=" icon-edit"></i> Edit <span data-dropdown="@dropDownId"><i class="icon-circle-arrow-down"></i></span></a>*@
                        <a href="EditParty?partyId=@party.id" title="Edit Party" class="small button split"><i class=" icon-edit"></i> Edit <span data-dropdown="@dropDownId"></span></a>
                        <br />
                        <ul id="@dropDownId" class="f-dropdown" data-dropdown-content>   
        
                            <li>
                                <a href="javascript:void(0)" onclick="DeleteParty('@party.id', '@party.partyType')" title="Delete Party"><i class=" icon-trash"></i> Delete</a>
                            </li>        
                        </ul>

                    }
                </td>

            @if (User.IsInRole(Role.Admin) == true)
            {

                <td>@party.group</td>
                <td>@party.homeGroup</td>
            }
                <td>
                    @party.lastName
                </td>
                <td>@party.firstName</td>
                <td>@party.partyType.ToRoleName()</td>
                <td>@party.cellPhone</td>
                <td>@party.homePhone</td>
                <td>@party.workphone</td>
                <td>@party.email</td>
             
                @if (User.IsInRole(Role.Admin) == true)
                {
                   <td>@Helper.GetDate(party.dob)</td>
                }
                
                   <td>@party.gender</td>
                @if (User.IsInRole(Role.Admin) == true)
                {
                    <td>@Helper.GetRace(party.RACE)</td>
                }
                <td>@party.GetAddressLine1()</td>
                <td>@party.GetAddressLine2()</td>
                <td>@party.GetCity()</td>
                <td>@party.GetState()</td>
                <td>@party.GetZip5()</td>
                <td>@party.isPartyActive.ToStatus()</td>
               @if (User.IsInRole(Role.Admin) == true)
               {
                 <td>@Helper.GetDate(party.coverageStartDate)</td>
                 <td>@Helper.GetDate(party.coverageEndDate)</td>
               }
            </tr>
        }
    </tbody>
</table>

<form method="post" id="PagingForm">
    @Html.HiddenFor(model => model.TotalRowsCount)
    @Html.HiddenFor(model => model.DisplayRowsCount)
    @Html.HiddenFor(model => model.CurrentPageNumber)
</form>

<div class="row">
    <div class="four columns">
        Showing @Model.GetStarRowtIndex() to @Model.GetEndRowIndex() of @Model.TotalRowsCount Care Team
    </div>
    <div class="eight columns">
        <div class="text-right">
            @if (Model.TotalRowsCount > 1
                   && Model.TotalRowsCount > Model.DisplayRowsCount)
            {
                <a href="javascript:void(0)" onclick=" ShowPage(@Model.FirstPageNumber)">First</a>
                if (Model.PreviousPageNumber > 0)
                {
                    <a href="javascript:void(0)" onclick=" ShowPage(@Model.PreviousPageNumber)" class="blackLine">Previous</a>
                }
                if (Model.NextPageNumber > 0)
                {
                    <a href="javascript:void(0)" onclick=" ShowPage(@Model.NextPageNumber)" class="blackLine">Next</a>
                }
                <a href="javascript:void(0)" onclick=" ShowPage(@Model.LastPageNumber)" class="blackLine">Last</a>
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        InitializePatientTable();
    });

</script>
