﻿@model GetEkgHistoryResponse
<script type="text/javascript">
    @{
        if (Model.readings != null)
        {
            var chartBGEKGReadings = Model.readings;
            <text>
            var bgEkgTitle = "EKG";
            var bgEkgSubTitle = "";
            var bgEkgxAxisText = "Time";

            var bgEkgxAxisData = ['@Html.Raw(string.Join("','", chartBGEKGReadings.Select(r => r.measurementTime).ToArray()))'];
            var bgEkgyAxisText = "EKG (bpm)";
            var bgEkgyAxisSeriesData = [
            {
                name: 'Actual',
                data: [@string.Join(",", chartBGEKGReadings.Select(r => string.Format("[{0}, {1}]", r.measurementTime.JsMilliSeconds(), r.eventData1)).ToArray())]
            }
            ];

            $(function () {
                $("#ekgChart").slideToggle();
                $("#ekgChart").css("height", "200");
                DrawChart("#ekgChart", bgEkgTitle, bgEkgSubTitle, bgEkgxAxisText, bgEkgxAxisData, bgEkgyAxisText, bgEkgyAxisSeriesData);
                $("#ekgChart").slideToggle();
            });
        </text>
        }
        else
        {
            <text>
            $(function () {
                $("#ekgChart").slideToggle();
                $("#ekgChart").html("EKG data is not available");
                $("#ekgChart").slideToggle();
            });
    </text>

        }
    }
</script>
