﻿@model BreadCrumbsModel

<ul class="breadcrumbs hide-on-print">
    @switch (Model.Page)
    {
        case ViewName.ShowPatients:
            if (HttpContext.Current.User.IsInRole(Role.GroupAdmin) == true)
            {
                <li><a href="GAPatients">Home</a></li>
            }
            else
            {
                <li><a href="Index">Home</a></li>
            }
            if (HttpContext.Current.User.IsInRole(Role.Doctor) == true
                    || HttpContext.Current.User.IsInRole(Role.Clinician) == true)
            {
                <li class="current"><a href="#">Patients</a></li>
            }
            break;
        case ViewName.DailyReport:
            @*<li class="current"><a href="Index" >Home</a></li>*@
            <li class="current"><a href="#">Home</a></li>
            @*if (HttpContext.Current.User.IsInRole(Role.Doctor) == true
                    || HttpContext.Current.User.IsInRole(Role.Clinician) == true)
            {
                <li class="current"><a href="#">Whiteboard</a></li>
            }*@
        break;
    case ViewName.ShowPatientDevices:
        if (HttpContext.Current.User.IsInRole(Role.GroupAdmin) == true)
        {
            <li><a href="GAPatients">Home</a></li>
            }
            else
            {
                <li><a href="Index">Home</a></li>
            }
            if (HttpContext.Current.User.IsInRole(Role.Doctor) == true
                    || HttpContext.Current.User.IsInRole(Role.Clinician) == true)
            {
                <li><a href="Patients">Patients</a></li>
            }
            <li class="current"><a href="#">Dashboard</a></li>
            break;
        case ViewName.ShowDevice:
            if (HttpContext.Current.User.IsInRole(Role.GroupAdmin) == true)
            {
                <li><a href="GAPatients">Home</a></li>
            }
            else
            {
                <li><a href="Index">Home</a></li>
            }
            if (HttpContext.Current.User.IsInRole(Role.Doctor) == true
                    || HttpContext.Current.User.IsInRole(Role.Clinician) == true)
            {
                <li><a href="Patients">My Patients</a></li>
            }
            <li><a href="PatientDevices?patientId=@Model.PatientId">Dashboard</a></li>
            <li class="current"><a href="#">@Model.Device.deviceType.ToDeviceType()</a></li>
            break;
        case ViewName.ShowEHR:
            if (HttpContext.Current.User.IsInRole(Role.GroupAdmin) == true)
            {
                <li><a href="GAPatients">Home</a></li>
            }
            else
            {
                <li><a href="Index">Home</a></li>
            }
            <li><a href="Patients">My Patients</a></li>
            <li><a href="PatientDevices?patientId=@Model.PatientId">Dashboard</a></li>
            <li class="current"><a href="#">EHR</a></li>
            break;
        case ViewName.ShowParty:
            if (HttpContext.Current.User.IsInRole(Role.GroupAdmin) == true)
            {
                <li><a href="GAPatients">Home</a></li>
            }
            else
            {
                <li><a href="Index">Home</a></li>
            }
            @*<li><a href="ShowPatients">My Patients</a></li>*@
            @*<li><a href="Index">Search</a></li>*@
            <li class="current"><a href="#">Party</a></li>
            break;
        case ViewName.ShowParameters:
            if (HttpContext.Current.User.IsInRole(Role.GroupAdmin) == true)
            {
               <li><a href="GAPatients">Home</a></li>
            }
            else
            {
            <li><a href="Index">Home</a></li>
            }
            <li><a href="Patients">My Patients</a></li>
            <li><a href="PatientDevices?patientId=@Model.PatientId">Dashboard</a></li>
            <li class="current"><a href="#">Parameters</a></li>
            break;
        case ViewName.Admin:
            if (HttpContext.Current.User.IsInRole(Role.GroupAdmin) == true)
            {
                <li><a href="GAPatients">Home</a></li>
            }
            else
            {
                <li><a href="Index">Home</a></li>
            }
            <li class="current"><a href="#">Search</a></li>
            break;
        case "LogOn":
            <li class="current"><a href="#">Log On</a></li>
            break;
        case "Register":
            <li class="current"><a href="#">Register</a></li>
            break;
        case "ForgotPassword":
            <li class="current"><a href="#">Forgot Password</a></li>
            break;
        case "HbA1c Report":
            if (HttpContext.Current.User.IsInRole(Role.Admin) == true)
            {
                <li><a href="/Admin/Index">Home</a></li>
                <li class="current"><a href="#">HbA1c Report</a></li>
            }
            else if (HttpContext.Current.User.IsInRole(Role.GroupAdmin) == true)
            {
                <li><a href="/Admin/Index">Whiteboard</a></li>
                <li class="current"><a href="#">HbA1c Report</a></li>
            }
            else if (HttpContext.Current.User.IsInRole(Role.Doctor) == true)
            {
                <li><a href="/Doctor/DailyReport">Whiteboard</a></li>
                <li class="current"><a href="#">HbA1c Report</a></li>
            }
            else if (HttpContext.Current.User.IsInRole(Role.Doctor) == true)
            {
                <li><a href="/Doctor/DailyReport">Whiteboard</a></li>
                <li class="current"><a href="#">HbA1c Report</a></li>
            }
            break;

        case "PatientReading":
            <li><a href="Index">Home</a></li>

            if (HttpContext.Current.User.IsInRole(Role.Admin) == true)
            {
                <li><a href="/Admin/ShowPatients">Patients</a></li>
                <li class="current"><a href="#">Dashboard</a></li>
            }
            else
            {
                @*<li><a href="DailyReport">Whiteboard</a></li>*@
                <li class="current"><a href="#">Dashboard</a></li>

                }


                break;

            case "Groups":
                if (HttpContext.Current.User.IsInRole(Role.GroupAdmin) == true)
                {
                <li><a href="/Admin/GAPatients">Home</a></li>
                }
                else
                {
                <li><a href="/Admin/Index">Home</a></li>
                }
            <li class="current"><a href="#">@Model.Page</a></li>

            break;
         case "Associations":
            if (HttpContext.Current.User.IsInRole(Role.GroupAdmin) == true)
            {
                <li><a href="/Admin/GAPatients">Home</a></li>
            }
            else
            {
                <li><a href="/Admin/Index">Home</a></li>
            }
            <li class="current"><a href="#">@Model.Page</a></li>

            break;

        default:
            if (HttpContext.Current.User.IsInRole(Role.GroupAdmin) == true)
            {
                <li><a href="GAPatients">Home</a></li>
            }
            else
            {
                <li><a href="Index">Home</a></li>
            }
            <li class="current"><a href="#">@Model.Page</a></li>
            break;

    }
</ul>