﻿@model EHRDetailsModel
<fieldset>
    <legend>Caregivers</legend>
    @{
        var activePartyCount = 0;
        if (Model.Details.careGivers != null)
        {
            for (int index = 0; index < Model.Details.careGivers.Length; index++)
            {
                var deleteClass = string.Empty;
                var readOnly = string.Empty;
                if (Model.Details.careGivers[index].status == Operation.Delete)
                {
                    deleteClass = "hide";
                }
                else if (Model.Details.careGivers[index].status == Operation.Add
                            && string.IsNullOrWhiteSpace(Model.Details.careGivers[index].partyID) == true)
                {
                    activePartyCount++;
                }
                else
                {
                    readOnly = @"readonly=""readonly""";
                    activePartyCount++;
                }
                <fieldset class="@deleteClass" id="div@(Model.Details.careGivers[index].partyID)">
                    <legend>Caregiver @activePartyCount</legend>
                    <span class="rightLegend">
                        <a href="javascript:void(0)" onclick=" RemoveCaregiver(@index) " class=" blackline"><i class="fa fa-trash"></i> Remove</a>
                        @if (string.IsNullOrWhiteSpace(Model.Details.careGivers[index].partyID) == false
                                && (User.IsInRole(Role.Admin) == true
                                    || User.IsInRole(Role.GroupAdmin) == true))
                        {
                            <a href="javascript:void(0)" onclick="EditParty('@(Model.Details.careGivers[index].partyID)', 'C')" title="Edit the Caregiver Info" class="blackLine"><i class=" fa fa-pencil-square-o"></i> Edit</a>
                        } 
                    </span>
                    <div class="row">
                        <div id="C@(index)MessageDiv"></div>
                        <div class="large-4 columns">
                            <label>First Name</label>
                            <input type="text" @readOnly class="C@(index)FirstNameInput FirstNameInput" name="Details.careGivers[@index].firstName" id="Details_careGivers[@index]_firstName" value="@Model.Details.careGivers[index].firstName"/>
                        </div>
                        <div class="large-4 columns">
                            <label>Last Name</label>
                            <input type="text" @readOnly class="C@(index)LastNameInput LastNameInput" name="Details.careGivers[@index].lastName" id="Details_careGivers[@index]_lastName" value="@Model.Details.careGivers[index].lastName"/>
                        </div>
                        <div class="large-4 columns">
                            <label>Email</label>
                            <input type="text" @readOnly class="C@(index)EmailInput EmailInput" name="Details.careGivers[@index].email" id="Details_careGivers[@index]_email" value="@Model.Details.careGivers[index].email"/>
                            <input type="hidden" class="C@(index)PartyIDInput" name="Details.careGivers[@index].partyID" id="Details_careGivers[@index]_partyID" value="@Model.Details.careGivers[index].partyID"/>
                            <input type="hidden" name="Details.careGivers[@index].status" id="Details_careGivers[@index]_status" value="@Model.Details.careGivers[index].status"/>
                        </div>
                    </div>
                    <div class="row">
                       <div class="large-12 columns">
                           <label class="indent-right-small">@Html.CheckBox("Details.careGivers["+@index+"].isPrimary", @Model.Details.careGivers[@index].isPrimary != null ? @Model.Details.careGivers[@index].isPrimary.ToString().ToBoolean() : false) Primary Caregiver</label>   
                       </div>
                    </div>
                </fieldset>
            }
            <script type="text/javascript">
                $(document).ready(function() {
                    for (var index = 0; index < @Model.Details.careGivers.Length; index++) {
                        AttachAutoCompleteEvent("FirstNameInput", index, "C", "F");
                        AttachAutoCompleteEvent("LastNameInput", index, "C", "L");
                        AttachAutoCompleteEvent("EmailInput", index, "C", "E");
                    }
                });
            </script>
        }
    }
    <div class="row">
        <div class="large-12 columns">
            <p>
                <a href="javascript:void(0)" onclick="AddCaregiver()"><i class="fa fa-plus-circle"></i> Add Existing Caregiver</a>
                @if (User.IsInRole(Role.Admin) == true
                     || User.IsInRole(Role.GroupAdmin) == true)
                {

                    <a href="javascript:void(0)" onclick=" AddParty('C') " class="line"><i class="fa fa-plus-circle"></i> Add New Caregiver</a>
                }
            </p>
        </div>
    </div>
</fieldset>
