﻿@model DeviceModel
@{
    if (Model.REAReadings.Count() == 0)
    {
        <div>
            <label style="color:red">"There are NO readings taken for past 1 month!!!"</label>
        </div>
    }

    var deviceReadings = Model.REAReadings;
    <div class="section-container auto" data-section data-options="deep_linking: true;">
        <div class="section">
            <p class="title"><a href="#readingHistory">Readings</a></p>
            <div class="content" data-slug="readingHistory">
                <p class="text-right toolLinks">
                    Tools:
                    <a href="javascript:void(0)" onclick="ExportReadings('PrintReadings', '@Model.GetExportTitle()', '@Model.Device.deviceType', '@Model.Patient.id', '@Model.FromDate', '@Model.ToDate')" class="line"> <i class="fa fa-print"></i> Print</a>
                    <a href="javascript:void(0)" onclick="ExportReadings('ExportToExcel', '@Model.GetExportTitle()', '@Model.Device.deviceType', '@Model.Patient.id', '@Model.FromDate', '@Model.ToDate')" class="line"><i class="fa fa-table"></i> Export to Excel</a>
                    <a href="javascript:void(0)" onclick="ExportReadings('ExportToCsv', '@Model.GetExportTitle()', '@Model.Device.deviceType', '@Model.Patient.id', '@Model.FromDate', '@Model.ToDate')" class="line"><i class="fa fa-file"></i> Export to CSV</a>
                </p>
                <table id="deviceHistory" class="display">
                    <thead>
                        <tr>
                            @if (User.IsInRole(Role.Admin) == true)
                            {
                                <th></th>
                            }
                            <th>Readmission Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var reading in deviceReadings.OrderByDescending(r => r.ReadmissionDate))
                        {
                            <tr>
                                @if (User.IsInRole(Role.Admin) == true)
                                {
                                    <td><a href="javascript:void(0)" onclick="return DeleteREAReading('@reading.Id','@Model.Patient.id')" class="tiny trash-can"><i class="fa fa-trash-o"></i></a></td>
                                }

                                <td>@reading.ReadmissionDate</td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        @Html.Partial("_ReadingSummary", Model)
    </div>
}

<script>
    $(document).ready(function () {
        IntializeDeviceHistory();
        $("#RowCRTReadingDurations").hide();
        $("#RowCRTReading").hide();
        $("#divbydays").hide();
        $("#divabnormal").hide();
        $("#divnormal").hide();
    });

    function DeleteREAReading(id, _PatientID) {
        var rslt = confirm("Are you sure you want to delete this reading?");
        if (rslt) {
            $.ajax({
                type: "POST",
                url: "DeleteDeviceReadingById",
                dataType: "html",
                data: { deviceType: "REA", id: id },
                success: function (data) {

                    if (location.href.indexOf("deviceType=REA") != -1) {
                        ShowMessage("success", "Readmission reading deleted successfully.");
                        location.reload();
                    }
                    else {

                        OpenReading1("REA", "Readmission", _PatientID);
                        ShowMessage("success", "Readmission reading deleted successfully.");
                        ClosePopup();
                    }

                },
                error: function (request, textStatus, errorThrown) {
                    ShowCallbackError(request, textStatus, errorThrown);
                }
            });
        }
        return false;
    }

</script>