﻿@model DeviceModel
            @{                
                if (Model.WSReadings.readings.Length == 0)
                {
                    <div>
                        <label style="color:red">"There are NO readings taken for past 1 month!!!"</label>
                    </div>
                }
                
                var deviceReadings = Model.WSReadings.readings;                    
                <div class="section-container auto" data-section data-options="deep_linking: true;">
                    <div class="section">
                        <p class="title"><a href="#readingHistory">Readings</a></p>
                        <div class="content" data-slug="readingHistory">
                            <p class="text-right toolLinks">Tools: 
                                <a href="javascript:void(0)" onclick="ExportReadings('PrintReadings', '@Model.GetExportTitle()', '@Model.Device.deviceType', '@Model.Patient.id', '@Model.FromDate', '@Model.ToDate')" class="line"> <i class="fa fa-print"></i> Print</a>
                                <a href="javascript:void(0)" onclick="ExportReadings('ExportToExcel', '@Model.GetExportTitle()', '@Model.Device.deviceType', '@Model.Patient.id', '@Model.FromDate', '@Model.ToDate')" class="line"><i class="fa fa-table"></i> Export to Excel</a>
                                <a href="javascript:void(0)" onclick="ExportReadings('ExportToCsv', '@Model.GetExportTitle()', '@Model.Device.deviceType', '@Model.Patient.id', '@Model.FromDate', '@Model.ToDate')" class="line"><i class="fa fa-file"></i> Export to CSV</a>
                            </p>
                            <table id="deviceHistory" class="display">
                                <thead>
                                    <tr>
                                        @if (User.IsInRole(Role.Admin) == true)
                                        {
                                            <th></th>
                                        }
                                        <th>Weight (lb)</th>
                                        <th>Daily Difference(lb)</th>
                                        <th>Weekly Difference(lb)</th>
                                        <th>Date Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var reading in deviceReadings.OrderByDescending(r => r.measurementTime.AsDateTime()))
                                    { 
                                    <tr>
                                        @if (User.IsInRole(Role.Admin) == true)
                                        {
                                            <td><a href="javascript:void(0)" class="tiny trash-can" onclick="return deleteWSMReading('@reading.weightReadingPound', '@reading.measurementTime.AsDateTime().ToString("yyyy-MM-dd HH:mm:ss")', '@Model.Patient.id')"><i class="fa fa-trash-o"></i></a></td>
                                        }
                                        @if (reading.deviceId == "1")
                                        {
                                            <td><span class="@Model.GetStatusClass(reading.aboveThreshold)">@reading.weightReadingPound</span><span>*</span></td>
                                        }
                                        else
                                        {
                                            <td><span class="@Model.GetStatusClass(reading.aboveThreshold)">@reading.weightReadingPound</span></td>
                                        }
                                        @if (@reading.showWeightDifference)
                                        {
                                            if (@reading.weightDifference < 0)
                                            {
                                                <td>
                                                    <span style="text-align:right" class="alert contact-icon"><i class="fa fa-arrow-down"></i></span>
                                                    <span style="text-align:right" class="alert">@reading.weightDifference</span>
                                                </td>
                                            }
                                            else if (@reading.weightDifference > 0)
                                            {
                                                <td>
                                                    <span style="text-align:right" class="alert contact-icon"><i class="fa fa-arrow-up"></i></span>
                                                    <span style="text-align:right" class="alert">+@reading.weightDifference</span>
                                                </td>
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                        @if (@reading.showWeightDifference)
                                        {
                                            if (@reading.weeklyWeightDifference < 0)
                                            {
                                                <td>
                                                    <span style="text-align:right" class="alert contact-icon"><i class="fa fa-arrow-down"></i></span>
                                                    <span style="text-align:right" class="alert">@reading.weeklyWeightDifference</span>
                                                </td>
                                            }
                                            else if (@reading.weeklyWeightDifference > 0)
                                            {
                                                <td>
                                                    <span style="text-align:right" class="alert contact-icon"><i class="fa fa-arrow-up"></i></span>
                                                    <span style="text-align:right" class="alert">+@reading.weeklyWeightDifference</span>
                                                </td>
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                        <td>@reading.measurementTime</td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="section">
                        <p class="title"><a href="#readingChart">Chart</a></p>
                        <div class="content" data-slug="readingChart">
                            @*<p class="row text-right">
                                <a href="javascript:void(0)" onclick="ChangeChartType('column')" class="columnChartLink" title="Click here to show as Bar Chart">Bar Chart</a>
                                <a href="javascript:void(0)" onclick="ChangeChartType('line')" class="lineChartLink hide" title="Click here to show as Line Chart">Line Chart</a>
                                &nbsp;&nbsp;<br /><br />
                            </p>*@
                            <div id="WSChart">
                            </div>
                        </div>
                    </div>
                    @Html.Partial("_ReadingSummary", Model)
                </div>
                }
            

<script type="text/javascript">
    @Html.Partial("_ChartScript", Model)
    function ReDrawChart(chartType) {
        DrawChart("#WSChart", wsTitle, wsSubTitle, wsxAxisText, wsxAxisData, wsyAxisText, wsyAxisSeriesData, chartType);
    }
    $(document).ready(function () {
        IntializeDeviceHistory();
        ReDrawChart(_chartType);
    $("#RowCRTReadingDurations").hide();
    $("#RowCRTReading").hide();
    });

    function deleteWSMReading(weight, mtime, patientId) {
        var rslt = confirm("Are you sure you want to delete this reading? \n" + weight + " - " + mtime);
        if (rslt) {
            // debugger;
            $.ajax({
                type: "POST",
                url: "DeleteDeviceReading",
                dataType: "html",
                data: { deviceType: "WSM", reading1: weight, reading2: 0, mtime: mtime, patientId: patientId },
                success: function (data) {
                    ShowMessage("success", "Weight reading deleted successfully.");
                    OpenReading1("WSM", "Weight Scale",patientId);
                },
                error: function (request, textStatus, errorThrown) {
                    ShowCallbackError(request, textStatus, errorThrown);
                }
            });
        }
        return false;
    }

</script>
