﻿@model DeviceModel
            @{
                if (Model.BPReadings.readings.Length == 0)
                {
                    <div>
                        <label style="color:red">"There are NO readings taken for past 1 month!!!"</label>
                    </div>
                }
                var deviceReadings = Model.BPReadings.readings;
                <div class="section-container auto" data-section data-options="deep_linking: true;">
                    <div class="section">
                        <p class="title"><a href="#readingHistory">Readings</a></p>
                        <div class="content" data-slug="readingHistory">
                            <p class="text-right toolLinks">Tools: 
                                <a href="javascript:void(0)" onclick="ExportReadings('PrintReadings', '@Model.GetExportTitle()', '@Model.Device.deviceType', '@Model.Patient.id', '@Model.FromDate', '@Model.ToDate')" class="line"> <i class="fa fa-print"></i> Print</a>
                                <a href="javascript:void(0)" onclick="ExportReadings('ExportToExcel', '@Model.GetExportTitle()', '@Model.Device.deviceType', '@Model.Patient.id', '@Model.FromDate', '@Model.ToDate')" class="line"><i class="fa fa-table"></i> Export to Excel</a>
                                <a href="javascript:void(0)" onclick="ExportReadings('ExportToCsv', '@Model.GetExportTitle()', '@Model.Device.deviceType', '@Model.Patient.id', '@Model.FromDate', '@Model.ToDate')" class="line"><i class="fa fa-file"></i> Export to CSV</a>
                            </p>
                            <table id="deviceHistory" class="display">
                                <thead>
                                    <tr>
                                        @if (User.IsInRole(Role.Admin) == true)
                                        {
                                            <th></th>
                                        }
                                        <th>Pulse Rate (ppm)</th>
                                        <th>Date Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var reading in deviceReadings.OrderByDescending(r => r.measurementTime.AsDateTime()))
                                    { 
                                    <tr>
                                        @if (User.IsInRole(Role.Admin) == true)
                                        {
                                            <td><a href="javascript:void(0)" class="tiny trash-can" onclick="return deletePRMReading('@reading.pulseRate', '@reading.measurementTime.AsDateTime().ToString("yyyy-MM-dd HH:mm:ss")', '@Model.Patient.id')"><i class="fa fa-trash-o"></i></a></td>
                                        }
                                        @if (reading.deviceID == "1")
                                        {
                                            <td><span class="@Model.GetStatusClass(reading.pulseRateAboveThreshold)">@reading.pulseRate</span><span>*</span></td>
                                        }
                                        else
                                        {
                                            <td><span class="@Model.GetStatusClass(reading.pulseRateAboveThreshold)">@reading.pulseRate</span></td>
                                        }
                                        <td>@reading.measurementTime</td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="section">
                        <p class="title"><a href="#readingChart">Chart</a></p>
                        <div class="content" data-slug="readingChart">
                            @*<p class="row text-right">
                                <a href="javascript:void(0)" onclick="ChangeChartType('column')" class="columnChartLink" title="Click here to show as Bar Chart">Bar Chart</a>
                                <a href="javascript:void(0)" onclick="ChangeChartType('line')" class="lineChartLink hide" title="Click here to show as Line Chart">Line Chart</a>
                                &nbsp;&nbsp;<br /><br />
                            </p>*@
                            <div id="PRChart">
                            </div>
                        </div>
                    </div>
                    @Html.Partial("_ReadingSummary", Model)
                </div>
            }

<script>
    @Html.Partial("_ChartScript", Model)
    function ReDrawChart(chartType) {
        DrawChart("#PRChart", prTitle, prSubTitle, prxAxisText, prxAxisData, pryAxisText, pryAxisSeriesData, chartType);
    }
    $(document).ready(function () {
        IntializeDeviceHistory();
        ReDrawChart(_chartType);
    $("#RowCRTReadingDurations").hide();
    $("#RowCRTReading").hide();
    });

    function deletePRMReading(pulse, mtime, patientId) {
        var rslt = confirm("Are you sure you want to delete this reading? \n" + pulse + " - " + mtime);
        if (rslt) {
            // debugger;
            $.ajax({
                type: "POST",
                url: "DeleteDeviceReading",
                dataType: "html",
                data: { deviceType: "PRM", reading1: pulse, reading2: 0, mtime: mtime, patientId: patientId },
                success: function (data) {
                    ShowMessage("success", "Pulse reading deleted successfully.");
                    OpenReading("PRM", "");
                },
                error: function (request, textStatus, errorThrown) {
                    ShowCallbackError(request, textStatus, errorThrown);
                }
            });
        }
        return false;
    }

</script>
