﻿@model DeviceModel
            @{
                if (Model.SPReadings.Length == 0)
                {
                    <div>
                        <label style="color:red">"There are NO readings taken for past 1 month!!!"</label>
                    </div>
                }
                var deviceReadings = Model.SPReadings;
                <div class="section-container auto" data-section data-options="deep_linking: true;">
                    <div class="section">
                        <p class="title"><a href="#readingHistory">Readings</a></p>
                        <div class="content" data-slug="readingHistory">
                            <p class="text-right toolLinks">Tools: 
                                <a href="javascript:void(0)" onclick="ExportReadings('PrintReadings', '@Model.GetExportTitle()', '@Model.Device.deviceType', '@Model.Patient.id', '@Model.FromDate', '@Model.ToDate')" class="line"> <i class="fa fa-print"></i> Print</a>
                                <a href="javascript:void(0)" onclick="ExportReadings('ExportToExcel', '@Model.GetExportTitle()', '@Model.Device.deviceType', '@Model.Patient.id', '@Model.FromDate', '@Model.ToDate')" class="line"><i class="fa fa-table"></i> Export to Excel</a>
                                <a href="javascript:void(0)" onclick="ExportReadings('ExportToCsv', '@Model.GetExportTitle()', '@Model.Device.deviceType', '@Model.Patient.id', '@Model.FromDate', '@Model.ToDate')" class="line"><i class="fa fa-file"></i> Export to CSV</a>
                            </p>
                            <table id="deviceHistory" class="display">
                                <thead>
                                    <tr>
                                        @if (User.IsInRole(Role.Admin) == true)
                                        {
                                            <th></th>
                                        }
                                        <th>FEV<sub>1</sub> / PEF (mlps)</th>
                                        <th>FEV<sub>1</sub> Difference (%)</th>
                                        <th>PEF Difference (%)</th>
                                        <th>Date Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var reading in deviceReadings.OrderByDescending(r => r.measurementTime.AsDateTime()))
                                    { 
                                    <tr>
                                        @if (User.IsInRole(Role.Admin) == true)
                                        {
                                            <td><a href="javascript:void(0)" class="tiny trash-can" onclick="return deleteSPRReading('@reading.fev1Best', '@reading.pefBest', '@reading.measurementTime.AsDateTime().ToString("yyyy-MM-dd HH:mm:ss")', '@Model.Patient.id')"><i class="fa fa-trash-o"></i></a></td>
                                        }
                                        @if (reading.deviceId == "1")
                                        {
                                            <td><span class="@Model.GetStatusClass(reading.fevAboveThreshold)">@reading.fev1Best  / </span><span class="@Model.GetStatusClass(reading.pefAboveThreshold)">@reading.pefBest</span><span>*</span></td>
                                        }
                                        else
                                        {
                                            <td><span class="@Model.GetStatusClass(reading.fevAboveThreshold)">@reading.fev1Best  / </span><span class="@Model.GetStatusClass(reading.pefAboveThreshold)">@reading.pefBest</span></td>
                                        }

                                        @if (reading.fevReadingDiff.AsFloat() < 0)
                                        {
                                            <td>
                                                @if (reading.fevAboveThreshold)
                                                {
                                                    <span style="text-align:right" class="alert contact-icon"><i class="fa fa-arrow-down"></i></span>
                                                    <span style="text-align:right" class="alert">@reading.fevReadingDiff</span>
                                                }
                                                else
                                                {
                                                    <span style="text-align:right">@reading.fevReadingDiff</span>
                                                }
                                            </td>
                                        }
                                        else if (reading.fevReadingDiff.AsFloat() > 0)
                                        {
                                            <td>
                                                @if (reading.fevAboveThreshold)
                                                {
                                                    <span style="text-align:right" class="alert contact-icon"><i class="fa fa-arrow-up"></i></span>
                                                    <span style="text-align:right" class="alert">+@reading.fevReadingDiff</span>
                                                }
                                                else
                                                {
                                                    <span style="text-align:right">+@reading.fevReadingDiff</span>
                                                }
                                            </td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }

                                        @if (reading.pefReadingDiff.AsFloat() < 0)
                                        {
                                            <td>
                                                @if (reading.pefAboveThreshold)
                                                {
                                                    <span style="text-align:right" class="alert contact-icon"><i class="fa fa-arrow-down"></i></span>
                                                    <span style="text-align:right" class="alert">@reading.pefReadingDiff</span>
                                                }
                                                else
                                                {
                                                    <span style="text-align:right">@reading.pefReadingDiff</span>
                                                }
                                            </td>
                                        }
                                        else if (reading.pefReadingDiff.AsFloat() > 0)
                                        {
                                            <td>
                                                @if (reading.pefAboveThreshold)
                                                {
                                                    <span style="text-align:right" class="alert contact-icon"><i class="fa fa-arrow-up"></i></span>
                                                    <span style="text-align:right" class="alert">+@reading.pefReadingDiff</span>
                                                }
                                                else
                                                {
                                                    <span style="text-align:right">+@reading.pefReadingDiff</span>
                                                }
                                            </td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }

                                        <td>@reading.measurementTime</td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="section">
                        <p class="title"><a href="#readingChart">Chart</a></p>
                        <div class="content" data-slug="readingChart">
                            @*<p class="row text-right">
                                <a href="javascript:void(0)" onclick="ChangeChartType('column')" class="columnChartLink" title="Click here to show as Bar Chart">Bar Chart</a>
                                <a href="javascript:void(0)" onclick="ChangeChartType('line')" class="lineChartLink hide" title="Click here to show as Line Chart">Line Chart</a>
                                &nbsp;&nbsp;<br /><br />
                            </p>*@
                            <div id="SPChart">
                            </div>
                        </div>
                    </div>
                    @Html.Partial("_ReadingSummary", Model)
                </div>
            }


<script>
    @Html.Partial("_ChartScript", Model)
    function ReDrawChart(chartType) {
        DrawChart("#SPChart", spTitle, spSubTitle, spxAxisText, spxAxisData, spyAxisText, spyAxisSeriesData, chartType);
    }
    $(document).ready(function () {
        IntializeDeviceHistory();
        ReDrawChart(_chartType);
    $("#RowCRTReadingDurations").hide();
    $("#RowCRTReading").hide();
    });

    function deleteSPRReading(fev, pef, mtime, patientId) {
        var rslt = confirm("Are you sure you want to delete this reading? \n" + fev + "/" + pef + " - " + mtime);
        if (rslt) {
            // debugger;
            $.ajax({
                type: "POST",
                url: "DeleteDeviceReading",
                dataType: "html",
                data: { deviceType: "SPR", reading1: fev, reading2: pef, mtime: mtime, patientId: patientId },
                success: function (data) {
                    ShowMessage("success", "Spirometer reading deleted successfully.");
                    OpenReading("SPR", "Spirometer");
                },
                error: function (request, textStatus, errorThrown) {
                    ShowCallbackError(request, textStatus, errorThrown);
                }
            });
        }
        return false;
    }

</script>
