﻿@model DeviceModel
            @{
                if (Model.MIDailyQaScores.Length == 0)
                {
                    <div>
                        <label style="color:red">"There are NO readings taken for past 1 month!!!"</label>
                    </div>
                }
                var deviceReadings = Model.MIDailyQaScores;
                <div class="section-container auto" data-section data-options="deep_linking: true;">
                    <div class="section">
                        <p class="title"><a href="#readingHistory">Readings</a></p>
                        <div class="content" data-slug="readingHistory">
                            <p class="text-right toolLinks">Tools: 
                                <a href="javascript:void(0)" onclick="ExportReadings('PrintReadings', '@Model.GetExportTitle()', '@Model.Device.deviceType', '@Model.Patient.id', '@Model.FromDate', '@Model.ToDate')" class="line"> <i class="fa fa-print"></i> Print</a>
                                <a href="javascript:void(0)" onclick="ExportReadings('ExportToExcel', '@Model.GetExportTitle()', '@Model.Device.deviceType', '@Model.Patient.id', '@Model.FromDate', '@Model.ToDate')" class="line"><i class="fa fa-table"></i> Export to Excel</a>
                                <a href="javascript:void(0)" onclick="ExportReadings('ExportToCsv', '@Model.GetExportTitle()', '@Model.Device.deviceType', '@Model.Patient.id', '@Model.FromDate', '@Model.ToDate')" class="line"><i class="fa fa-file"></i> Export to CSV</a>
                            </p>
                            <table id="deviceHistory" class="display">
                                <thead>
                                    <tr>
                                        @if (User.IsInRole(Role.Admin) == true)
                                        {
                                            <th></th>
                                        }
                                        <th>Score</th>
                                        <th>Date Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var reading in deviceReadings.OrderByDescending(r => r.measurementTime.AsDateTime()))
                                    { 
                                    <tr>
                                        @if (User.IsInRole(Role.Admin) == true)
                                        {
                                            <td><a href="javascript:void(0)" class="tiny trash-can" onclick="return deleteMILReading('@reading.dailyQaScore', '@reading.measurementTime.AsDateTime().ToString("yyyy-MM-dd HH:mm:ss")', '@Model.Patient.id')"><i class="fa fa-trash-o"></i></a></td>
                                        }
                                        @if (reading.deviceId == "0")
                                        {
                                            <td><a id="dailyQuestionsLink" href="javascript:void(0)" onclick="EditDailyQuestionsDialog('@reading.diseaseTypeId', '@Model.Patient.id','@Model.Patient.firstName', '@Model.Patient.middleName','@Model.Patient.lastName','@reading.patientDailyQaStatsId')"><span class="@Model.GetStatusClass(reading.aboveThreshold)">@reading.dailyQaScore</span><span>*</span></a></td>
                                        }
                                        else
                                        {
                                            <td><a id="dailyQuestionsLink" href="javascript:void(0)" onclick="EditDailyQuestionsDialog('@reading.diseaseTypeId', '@Model.Patient.id','@Model.Patient.firstName', '@Model.Patient.middleName','@Model.Patient.lastName','@reading.patientDailyQaStatsId')"><span class="@Model.GetStatusClass(reading.aboveThreshold)">@reading.dailyQaScore</span></a></td>
                                        }
                                        <td>@reading.measurementTime</td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="section">
                        <p class="title"><a href="#readingChart">Chart</a></p>
                        <div class="content" data-slug="readingChart">
                            @*<p class="row text-right">
                                <a href="javascript:void(0)" onclick="ChangeChartType('column')" class="columnChartLink" title="Click here to show as Bar Chart">Bar Chart</a>
                                <a href="javascript:void(0)" onclick="ChangeChartType('line')" class="lineChartLink hide" title="Click here to show as Line Chart">Line Chart</a>
                                &nbsp;&nbsp;<br /><br />
                            </p>*@
                            <div id="PHQ9Chart">
                            </div>
                        </div>
                    </div>
                 @Html.Partial("_ReadingSummary", Model)
                </div>
            }

<script>
    @Html.Partial("_ChartScript", Model)
    function ReDrawChart(chartType) {
        DrawChart("#PHQ9Chart", qaTitle, qaSubTitle, qaxAxisText, qaxAxisData, qayAxisText, qayAxisSeriesData, chartType);
    }
    $(document).ready(function () {
        IntializeDeviceHistory();
        ReDrawChart(_chartType);
    $("#RowCRTReadingDurations").hide();
    $("#RowCRTReading").hide();
    });
    function EditDailyQuestionsDialog(diseaseAssociations, patientId, patientFirstName, patientMiddleName, patientLastName, patientDailyQaStatsId) {
        $.ajax({
            type: "POST",
            url: "EditDailyQuestionsDialog",
            dataType: "html",
            data: { diseaseAssociations: diseaseAssociations, patientId: patientId, patientFirstName: patientFirstName, patientMiddleName: patientMiddleName, patientLastName: patientLastName, patientDailyQaStatsId: patientDailyQaStatsId },
            success: function (data) {
                OpenDialogWindow("Patient Daily Questions", data, 1000, 1500, "1");
            },
            error: function (request, textStatus, errorThrown) {
                ShowCallbackError(request, textStatus, errorThrown);
            }
        });
    }

    function deleteMILReading(milScore, mtime, patientId) {
        var rslt = confirm("Are you sure you want to delete this reading? \n" + milScore + " - " + mtime);
        if (rslt) {
            //debugger;
            $.ajax({
                type: "POST",
                url: "DeleteDeviceReading",
                dataType: "html",
                data: { deviceType: "MIL", reading1: milScore, reading2: 0, mtime: mtime, patientId: patientId },
                success: function (data) {
                    ShowMessage("success", "PHQ9 Daily Score deleted successfully.");
                    OpenReading("MIL", "");
                },
                error: function (request, textStatus, errorThrown) {
                    ShowCallbackError(request, textStatus, errorThrown);
                }
            });
        }
        return false;
    }

</script>
