﻿@model PatientDevicesModel 
@{
    var flag = false;
    
    var rowCount = 0;
}

<table class="deviceGrid">
    @{
        var feelingHiddenClass = string.Empty;
        if (Model != null && Model.QuadrantDetail != null && Model.QuadrantDetail.feeling != null)
        {
            feelingHiddenClass = Model.GetHiddenClass(Model.QuadrantDetail.feeling.isHidden);
        }
    }
    @if ((Model.PF != null && Model.PF[0].feelingsValue == "1") || (Model.patientId == null))
    {
        <tr class="@feelingHiddenClass" id="feelings" >
            <td colspan="3" class="quadCorners deviceFeeling">
                <div id="feelingsDiv" class="@feelingHiddenClass">
                    @Html.Partial("_FeelingsQuadrant", Model)
                </div>
            </td>
        </tr>
    }

    <tr>
        @for (int i = 0; i < Model.QuadrantOrder.quadrantOrder.Length; i++)
        {
            var Title = string.Empty;
            var MeasurementName = string.Empty;
            var MeasurementTime = string.Empty;
            var DeviceReadings = string.Empty;
            var DeviceName = string.Empty;
            var Reading1 = string.Empty;
            var Reading2 = string.Empty;  
            Boolean Hidden = true;
            var ToDeviceType = string.Empty;
            var heartRate = string.Empty;
            var heartRateMsr = string.Empty;
            var weightDifference = string.Empty;  
            var classDeviceType = string.Empty;
            var quadrantPosition = string.Empty;
            var qdivId = string.Empty;
            Boolean PrefHidden = true;
            var flagPref = 0;
            
            if (i == 0)
            {
                quadrantPosition = "quadTopLeftCorner";
            }
            if (i == 2)
            {
                quadrantPosition = "quadTopRightCorner";
            }
            if( i == Model.QuadrantOrder.quadrantOrder.Length - 3 )
            {
                quadrantPosition = "quadBottomLeftCorner";
            }
            if (i == Model.QuadrantOrder.quadrantOrder.Length - 1)
            {
                quadrantPosition = "quadBottomRightCorner";
            }

            classDeviceType = "device" + Model.QuadrantOrder.quadrantOrder[i].deviceType;
            qdivId = "qdiv" + Model.QuadrantOrder.quadrantOrder[i].order;

            Hidden = true;

            switch (Model.QuadrantOrder.quadrantOrder[i].deviceType)
            {
                case "BPM":
                    Title = "Blood Pressure";
                    MeasurementName = "mmHg";
                    if (Model.QuadrantDetail != null && Model.QuadrantDetail.bloodPressure != null)
                    {
                        MeasurementTime = Model.QuadrantDetail.bloodPressure.measurementTime;
                        Hidden = Model.QuadrantDetail.bloodPressure.isHidden;
                        Reading1 = Model.QuadrantDetail.bloodPressure.systolic;
                        Reading2 = Model.QuadrantDetail.bloodPressure.diastolic;
                    }
                    break;
                case "PRM":
                    Title = "Pulse Rate";
                    MeasurementName = "ppm";
                    if (Model.QuadrantDetail != null && Model.QuadrantDetail.bloodPressure != null)
                    {
                        MeasurementTime = Model.QuadrantDetail.bloodPressure.measurementTime;
                        Hidden = Model.QuadrantDetail.bloodPressure.isHidden;
                        Reading1 = Model.QuadrantDetail.bloodPressure.pulseRate;
                    }                        
                    break;
                case "POM":
                    Title = "Oxygen";
                    MeasurementName = "%";
                    if (Model.QuadrantDetail != null && Model.QuadrantDetail.pulseOxiMeter != null)
                    {

                        MeasurementTime = Model.QuadrantDetail.pulseOxiMeter.measurementTime;
                        Hidden = Model.QuadrantDetail.pulseOxiMeter.isHidden;
                        Reading1 = Model.QuadrantDetail.pulseOxiMeter.oxygenReading;
                        heartRate = Model.QuadrantDetail.pulseOxiMeter.hearRate;
                        heartRateMsr = "ppm";
                    }                            
                    break;
                case "TMM":
                    Title = "Temperature";
                    MeasurementName = "F";
                    if (Model.QuadrantDetail != null && Model.QuadrantDetail.temperature != null)
                    {
                        MeasurementTime = Model.QuadrantDetail.temperature.measurementTime;
                        Hidden = Model.QuadrantDetail.temperature.isHidden;
                        Reading1 = Model.QuadrantDetail.temperature.temperatureFahrenheit;
                    }                               
                    break;
                case "WSM":
                    Title = "Weight";
                    MeasurementName = "lb";
                    if (Model.QuadrantDetail != null && Model.QuadrantDetail.weighingScale != null)
                    {
                        MeasurementTime = Model.QuadrantDetail.weighingScale.measurementTime;
                        Hidden = Model.QuadrantDetail.weighingScale.isHidden;
                        Reading1 = Model.QuadrantDetail.weighingScale.weightReadingPound;
                        weightDifference = Model.QuadrantDetail.weighingScale.weightDifference.ToString();
                    }                                 
                    break;
                case "BCM":
                    Title = "Blood Glucose";
                    MeasurementName = "mg/dL";
                    if (Model.QuadrantDetail != null && Model.QuadrantDetail.bloodGlucose != null)
                    {
                        MeasurementTime = Model.QuadrantDetail.bloodGlucose.measurementTime;
                        Hidden = Model.QuadrantDetail.bloodGlucose.isHidden;
                        Reading1 = Model.QuadrantDetail.bloodGlucose.glucoseReading;
                    }                               
                    break;
                case "SPR":
                    Title = "Spirometer";
                    MeasurementName = "mlps";
                    if (Model.QuadrantDetail != null && Model.QuadrantDetail.asthmaMonitor != null)
                    {
                        MeasurementTime = Model.QuadrantDetail.asthmaMonitor.measurementTime;
                        Hidden = Model.QuadrantDetail.asthmaMonitor.isHidden;
                        Reading1 = Model.QuadrantDetail.asthmaMonitor.fev1Best;
                        Reading2 = Model.QuadrantDetail.asthmaMonitor.pefBest;
                    }                                   
                    break;
                case "MIL":
                    Title = "Daily Questions";
                    MeasurementName = "";
                    if (Model.QuadrantDetail != null && Model.QuadrantDetail.mentalIllnessDailyQaScore != null)
                    {
                        MeasurementTime = Model.QuadrantDetail.mentalIllnessDailyQaScore[0].measurementTime;
                        Hidden = Model.QuadrantDetail.mentalIllnessDailyQaScore[0].isHidden;
                        //To Check whether DQ is hidding from Profile - Devices Preferences
                            PrefHidden = Model.QuadrantDetail.mentalIllnessDailyQaScore[0].isPrefHidden;
                        Reading1 = Model.QuadrantDetail.mentalIllnessDailyQaScore[0].dailyQaScore;
                    }                                
                    break;
                case "DBT":
                    Title = "Daily Questions";
                    MeasurementName = "";
                    if (Model.QuadrantDetail != null && Model.QuadrantDetail.diabetesDailyQaScore != null)
                    {
                        MeasurementTime = Model.QuadrantDetail.diabetesDailyQaScore[0].measurementTime;
                        Hidden = Model.QuadrantDetail.diabetesDailyQaScore[0].isHidden;
                        PrefHidden = Model.QuadrantDetail.diabetesDailyQaScore[0].isPrefHidden;
                        Reading1 = Model.QuadrantDetail.diabetesDailyQaScore[0].dailyQaScore;
                    }                         
                    break;
            }

            if (i > 0 && i % 3 == 0)
            {
                @Html.Raw("</tr>");
            }          
            <td id="@Model.QuadrantOrder.quadrantOrder[i].order" class="@classDeviceType @quadrantPosition">
                @if (@DeviceReadings != null)
                {
                    <a href="javascript:void(0)" onclick="OpenReading('@Model.QuadrantOrder.quadrantOrder[i].deviceType', '@Title')">
                        @if (Hidden == true)
                        {
                            <div class="hiddenReadingText">
                                Readings are hidden
                            </div>
                        }

                        <div id="@qdivId" class="@Model.GetHiddenClass(Hidden) @classDeviceType">

                        @if (Model != null &&
                             Model.QuadrantDetail != null &&
                             Model.QuadrantDetail.weighingScale != null &&
                             Model.QuadrantDetail.weighingScale.showWeightDifference)
                            {
                                if (weightDifference.IsEmpty() == false)
                                {
                                    if (Double.Parse(weightDifference) > 0.0)
                                    {
                                        <span style="color:yellow; text-align:center"><i class="fa fa-arrow-up"></i> +@weightDifference @MeasurementName / Day</span><br/><br/>
                                    }
                                    if (Double.Parse(weightDifference) < 0.0)
                                    {
                                        <span style="color: yellow; text-align: center"><i class="fa fa-arrow-down"></i> @weightDifference @MeasurementName / Day</span><br/><br/>
                                    }
                                }
                            }

                            @if (Reading2.IsEmpty() == false)
                            {
                                <span class="deviceReading">@Reading1 / @Reading2</span> @MeasurementName<br />
                            }
                            else
                            {
                                if (classDeviceType.Contains("MIL"))
                                {  
                                    //Checking whether DQ is hidding from Profile                
                                    if (PrefHidden == true)
                                    {
                                        <div class="hiddenReadingText">
                                            Readings are hidden
                                        </div>     
                                        flagPref = 1;                       
                                    }
                                    else
                                    {                                        
                                        <span class="deviceReading">PHQ9 : @Reading1 - 27</span> @MeasurementName<br />
                                    }
                                }
                                else if (classDeviceType.Contains("DBT"))
                                {   
                                    if (PrefHidden == true)
                                    {
                                        <div class="hiddenReadingText">
                                            Readings are hidden
                                        </div>           
                                        flagPref = 1;                    
                                    }
                                    else
                                    {                                        
                                        <span class="deviceReading">Diabetes : @Reading1 - 6</span> @MeasurementName<br />
                                    }                                    
                                }
                                else
                                {
                                    <span class="deviceReading">@Reading1</span> @MeasurementName<br />
                                }
                            }

                            @if (flagPref != 1)
                            {  
                                <strong>@Title</strong><br />
                                @MeasurementTime<br />
                            }

                            @if (@heartRate.IsEmpty() == false)
                            {
                                <i class="fa fa-heart icon-red"></i> @Model.QuadrantDetail.pulseOxiMeter.hearRate<span>&nbsp;</span>@heartRateMsr<br />
                            }
                            @*// display the weekly weight difference if enabled for the patient*@
                            @if( classDeviceType.Contains("WSM") )
                            {
                                if (@Model != null && 
                                    @Model.QuadrantDetail != null && 
                                    @Model.QuadrantDetail.weighingScale != null && 
                                    @Model.QuadrantDetail.weighingScale.showWeightDifference)
                                {
                                    if (@Model.QuadrantDetail.weighingScale.weeklyWeightDifference > 0.0)
                                    {
                                        <br/><span style="color:yellow; text-align:center"><i class="fa fa-arrow-up"></i> +@Model.QuadrantDetail.weighingScale.weeklyWeightDifference @MeasurementName / Wk</span>
                                    }
                                    if (@Model.QuadrantDetail.weighingScale.weeklyWeightDifference < 0.0)
                                    {
                                        <br/><span style="color:yellow; text-align:center"><i class="fa fa-arrow-down"></i> @Model.QuadrantDetail.weighingScale.weeklyWeightDifference @MeasurementName / Wk</span>
                                    }
                                }
                            }
                        </div>
                    </a>
                }
                else
                {
                    @:<a href="javascript:void(0)">No @Title Data</a>
                }
            </td>

                if ( @Model != null && @Model.QuadrantOrder != null && @Model.QuadrantOrder.quadrantOrder != null && (i < @Model.QuadrantOrder.quadrantOrder.Length - 1) && i % 3 == 2)
                {
                @Html.Raw("</tr>");
                }
        }        
    </tr>

</table>

<script type="text/javascript">
    $(document).ready(function () {
        $("#lastRefreshedTime").html("@DateTime.Now.ToString(Constant.TimeFormat)");
    });
</script>
