﻿@model DeviceModel
@{
    if (Model.PMNReadings.Count() == 0)
    {
        <div>
            <label style="color:red">"There are NO readings taken for past 1 month!!!"</label>
        </div>
    }
    <script src="~/Scripts/moment.min.js"></script>
    var deviceReadings = Model.PMNReadings;
    <div class="section-container auto" data-section data-options="deep_linking: true;">
        <div class="section">
            <p class="title"><a href="#readingHistory">Readings</a></p>
            <div class="content" data-slug="readingHistory">
                <p class="text-right toolLinks">
                    Tools:
                    <a href="javascript:void(0)" onclick="ExportReadings('PrintReadings', '@Model.GetExportTitle()', '@Model.Device.deviceType', '@Model.Patient.id', '@Model.FromDate', '@Model.ToDate')" class="line"> <i class="fa fa-print"></i> Print</a>
                    <a href="javascript:void(0)" onclick="ExportReadings('ExportToExcel', '@Model.GetExportTitle()', '@Model.Device.deviceType', '@Model.Patient.id', '@Model.FromDate', '@Model.ToDate')" class="line"><i class="fa fa-table"></i> Export to Excel</a>
                    <a href="javascript:void(0)" onclick="ExportReadings('ExportToCsv', '@Model.GetExportTitle()', '@Model.Device.deviceType', '@Model.Patient.id', '@Model.FromDate', '@Model.ToDate')" class="line"><i class="fa fa-file"></i> Export to CSV</a>
                </p>
                <table id="deviceHistory" class="display">
                    <thead>
                        <tr>
                            @if (User.IsInRole(Role.Admin) == true)
                            {
                                <th></th>
                                <th></th>
                            }
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Reason</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var reading in deviceReadings.OrderByDescending(r => r.StartDate))
                        {
                            <tr>
                                @if (User.IsInRole(Role.Admin) == true)
                                {
                                    <td><a href="javascript:void(0)" onclick="return EditPMNReading('@reading.Id', '@reading.StartDate', '@reading.EndDate','@reading.Reason','@reading.Description')"><i class="fa fa-pencil-square-o"></i></a></td>
                                    <td><a href="javascript:void(0)" onclick="return DeletePMNReading('@reading.Id','@Model.Patient.id')" class="tiny trash-can"><i class="fa fa-trash-o"></i></a></td>
                                }
                                <td>@reading.StartDate</td>
                                <td>@reading.EndDate</td>
                                <td>@reading.Reason</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>


            <lable id="lblpatientid" style="display:none">@Model.Patient.id</lable>


            <div id="dialogPausemonitorNewPage" style="display:none">
                <div class="row">
                    <div class="large-6 columns ">
                        <label>Start Date</label>
                        <input id="PMNtxtpausemonitorstartdate" autocomplete="off" type="text" value="">
                    </div>
                    <div class="large-6 columns ">
                        <label>End Date</label>
                        <input id="PMNtxtpausemonitorenddate" autocomplete="off" type="text" value="">
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns ">
                        <label>Reason</label>
                        <select id="PMNddlpausemonitorreason">
                            <option value="Other">Other</option>
                            <option value="Vacation">Vacation</option>
                            <option value="readmitted">Patient in clinical setting (admitted, observation, readmitted)</option>
                            <option value="technical">Technical</option>
                        </select>

                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns ">
                        <label>Description</label>
                        <textarea id="PMNtxtPausemonDesc" autocomplete="off" rows="15"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <input type="submit" value="Update" id="btnPauseMoniUpdate" class="small button">
                        <input type="submit" value="Cancel" id="btnPauseMoniCancel" class="small button">
                        <input type="hidden" id="hdnpausemonitorid" />
                    </div>
                </div>
            </div>




        </div>
        @Html.Partial("_ReadingSummary", Model)
    </div>




}

<script>
    $(document).ready(function () {
        DateIntialize();
        IntializeDeviceHistory();

        $("#RowCRTReadingDurations").hide();
        $("#RowCRTReading").hide();
        $("#divbydays").hide();
        $("#divabnormal").hide();
        $("#divnormal").hide();

        $('#dialogPausemonitorNewPage').dialog({
            title: 'Pause Monitor',
            width: 750,
            height: 400,
            modal: true,
            autoOpen: false,
        });
    });





    function DateIntialize() {

        var month1 = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"];
        var date1 = ["1", "2", "3", "4", "5", "6", "7", "8", "9", "01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26", "27", "28", "29", "30", "31"];

        $('#PMNtxtpausemonitorstartdate').datepicker({
            changeMonth: true, changeYear: true

        }).on("change", function (e) {
            var setDate;
            if ($(this).val() !== '') {
                var validate = $(this).val().split("/");
                //alert("Value = " + validate);
                var dateCheck = new Date(validate);
                if (validate[0] !== undefined && validate[2] !== undefined && dateCheck !== "Invalid Date") {
                    var setDate = moment($(this).val(), "MM/DD/YYYY").format('MM/DD/YYYY');
                    if (setDate !== "Invalid date" && ($.inArray(validate[1], date1)) > -1 && ($.inArray(validate[0].toLowerCase(), month1)) > -1 && validate[2].substr(0, 4) >= 1900 && validate[2].substr(0, 4) <= 2099) {
                        $(this).val(setDate);
                        $('#messageDiv').hide();
                    }
                    else {

                        $(this).val('');
                        ShowMessage("error", "Please select valid format (MM/DD/YYYY).");
                        ClosePopup();
                        return false;
                    }
                }
                else {
                    $(this).val('');
                    ShowMessage("error", "Please select valid format (MM-DD-YYYY).");
                    ClosePopup();
                    return false;
                }
            }
        });




        $('#PMNtxtpausemonitorenddate').datepicker({
            changeMonth: true, changeYear: true

        }).on("change", function (e) {
            var setDate;
            if ($(this).val() !== '') {
                var validate = $(this).val().split("/");
                var dateCheck = new Date(validate);
                if (validate[0] !== undefined && validate[2] != undefined && dateCheck !== "Invalid Date") {
                    var setDate = moment($(this).val(), "MM/DD/YYYY").format('MM/DD/YYYY');
                    if (setDate !== "Invalid date" && ($.inArray(validate[1], date1)) > -1 && ($.inArray(validate[0].toLowerCase(), month1)) > -1 && validate[2].substr(0, 4) >= 1900 && validate[2].substr(0, 4) <= 2099) {
                        $(this).val(setDate);
                        $('#messageDiv').hide();
                    }
                    else {

                        $(this).val('');
                        ShowMessage("error", "Please select valid format (MM/DD/YYYY).");
                        ClosePopup();
                        return false;
                    }
                }
                else {
                    $(this).val('');
                    ShowMessage("error", "Please select valid format (MM/DD/YYYY).");
                    ClosePopup();
                    return false;
                }
            }
        });
    }



    function DeletePMNReading(id, _PatientID) {
        var rslt = confirm("Are you sure you want to delete this reading?");
        if (rslt) {
            $.ajax({
                type: "POST",
                url: "DeleteDeviceReadingById",
                dataType: "html",
                data: { deviceType: "PMN", id: id },
                success: function (data) {



                    if (location.href.indexOf("deviceType=PMN") != -1) {
                        ShowMessage("success", "PauseMonitoring reading deleted successfully.");
                        location.reload();
                    }
                    else {

                        ShowMessage("success", "PauseMonitoring reading deleted successfully.");
                        OpenReading1("PMN", "Pause Monitoring", _PatientID);
                        ClosePopup();
                    }


                },
                error: function (request, textStatus, errorThrown) {
                    ShowCallbackError(request, textStatus, errorThrown);
                }
            });
        }
        return false;
    }
    $("#btnPauseMoniCancel").on('click', function () {
        $('#dialogPausemonitorNewPage').dialog('close');
    });
    function EditPMNReading(id, startdate, enddate, reason, description) {

        if (location.href.indexOf("deviceType=PMN") != -1) {

            $('#PMNtxtpausemonitorstartdate').val(moment(startdate).format("MM/DD/YYYY"));
            $('#PMNtxtpausemonitorenddate').val(moment(enddate).format("MM/DD/YYYY"));
            $('#PMNddlpausemonitorreason').val(reason);
            $('#PMNtxtPausemonDesc').val(description);
            $('#btnPauseMoniSave').val('Update');
            $('#hdnpausemonitorid').val(id);
            $('#dialogPausemonitorNewPage').dialog('open');
            DateIntialize();
        }
        else {
            $('#txtpausemonitorstartdate').val(moment(startdate).format("MM/DD/YYYY"));
            $('#txtpausemonitorenddate').val(moment(enddate).format("MM/DD/YYYY"));
            $('#ddlpausemonitorreason').val(reason);
            $('#txtPausemonDesc').val(description);
            $('#btnPauseMoniSave').val('Update');
            $('#hdnpausemonitorid').val(id);
            $('#dialogPausemonitor').dialog({
                title: 'Pause Monitor',
                width: 750,
                height: 400,
                modal: true,
            });
        }
    }
    function ClosePopup() {
        setTimeout(function () {
            $('#messageDiv').hide();
        }, 5000);
    }

    $("#btnPauseMoniUpdate").on('click', function () {

        var pausemonitorStartDate = $('#PMNtxtpausemonitorstartdate').val();
        var pausemonitorEndDate = $('#PMNtxtpausemonitorenddate').val();
        var pausemonitorDescription = $('#PMNtxtPausemonDesc').val();
        var rowId = $('#hdnpausemonitorid').val();

        var start = new Date($('#PMNtxtpausemonitorstartdate').val()), end = new Date($('#PMNtxtpausemonitorenddate').val());
        if (start > end) {
            ShowMessage("error", "Start date should be lesser than End Date");
            ClosePopup();
            return false;
        }
        else if (pausemonitorStartDate === '') {
            ShowMessage("error", "Please enter Start Date");
            ClosePopup();
            return false;
        }
        else if (pausemonitorEndDate === '') {
            ShowMessage("error", "Please enter End Date");
            ClosePopup();
            return false;
        }
        else {
            patient = $('#lblpatientid').text();
            var parameters = {
                "id": rowId,
                "partyid": patient,
                "startDate": moment(pausemonitorStartDate).format("YYYY-MM-DD"),
                "endDate": moment(pausemonitorEndDate).format("YYYY-MM-DD"),
                "reason": $('#PMNddlpausemonitorreason').val(),
                "description": pausemonitorDescription
            };
            $.ajax({
                type: "POST",
                url: "UpdatePauseMonitor",
                dataType: "html",
                data: parameters,
                success: function (data) {
                    debugger;

                    var result = jQuery.parseJSON(data);
                    if (result.status === 'Ok') {
                        ShowMessage("success", "Pause Monitor successfully updated.");
                        $('#dialogPausemonitorNewPage').dialog('close');
                        ClosePopup();
                        location.reload();

                    }
                    else {
                        ShowMessage("error", result.status);
                        ClosePopup();
                    }
                },
                error: function (request, textStatus, errorThrown) {
                    ShowCallbackError(request, textStatus, errorThrown);
                }
            });
        }
    });

</script>