﻿@model DeviceModel
@{
    if (Model.CVDReadings.Count() == 0)
    {
        <div>
            <label style="color:red">"There are NO readings taken for past 1 month!!!"</label>
        </div>
    }
    var deviceReadings = Model.CVDReadings;
    <div class="section-container auto" data-section data-options="deep_linking: true;">
        <div class="section">
            <p class="title"><a href="#readingHistory">Readings</a></p>
            <div class="content" data-slug="readingHistory">
                <p class="text-right toolLinks">
                    Tools:
                    <a href="javascript:void(0)" onclick="ExportReadings('PrintReadings', '@Model.GetExportTitle()', '@Model.Device.deviceType', '@Model.Patient.id', '@Model.FromDate', '@Model.ToDate')" class="line"> <i class="fa fa-print"></i> Print</a>
                    <a href="javascript:void(0)" onclick="ExportReadings('ExportToExcel', '@Model.GetExportTitle()', '@Model.Device.deviceType', '@Model.Patient.id', '@Model.FromDate', '@Model.ToDate')" class="line"><i class="fa fa-table"></i> Export to Excel</a>
                    <a href="javascript:void(0)" onclick="ExportReadings('ExportToCsv', '@Model.GetExportTitle()', '@Model.Device.deviceType', '@Model.Patient.id', '@Model.FromDate', '@Model.ToDate')" class="line"><i class="fa fa-file"></i> Export to CSV</a>
                </p>
                <table id="deviceHistory" class="display">
                    <thead>
                        <tr>
                            @if (User.IsInRole(Role.Admin) == true)
                            {
                                <th></th>
                            }
                            <th>Score</th>
                            <th>Date Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var reading in deviceReadings.OrderByDescending(r => r.DailyQaTakenTime.AsDateTime()))
                        {
                            <tr>        
                                
                                @if (User.IsInRole(Role.Admin) == true)
                                {
                                    <td><a href="javascript:void(0)" onclick="return DeleteCVDReading('@reading.Id','@Model.Patient.id')" class="tiny trash-can"><i class="fa fa-trash-o"></i></a></td>
                                }                               
                                @if (Convert.ToInt32(@reading.DiseaseScore)>0)
                                       {
                                <td><a id="dailyQuestionsLink" href="javascript:void(0)" style="background-color: yellow;
    color: red;" onclick="return ViewCVD_QA('@reading.Id','@Model.Patient.id')">@reading.DiseaseScore</a><span>*</span></td>
                                        }
                                        else
                                        {
                                <td><a id="dailyQuestionsLink" href="javascript:void(0)"  onclick="return ViewCVD_QA('@reading.Id','@Model.Patient.id')">@reading.DiseaseScore<span></span></a></td>
                                        }
                              
                                    
                                <td>@reading.DailyQaTakenTime</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="section">
            <p class="title"><a href="#readingChart">Chart</a></p>
            <div class="content" data-slug="readingChart">
                @*<p class="row text-right">
                        <a href="javascript:void(0)" onclick="ChangeChartType('column')" class="columnChartLink" title="Click here to show as Bar Chart">Bar Chart</a>
                        <a href="javascript:void(0)" onclick="ChangeChartType('line')" class="lineChartLink hide" title="Click here to show as Line Chart">Line Chart</a>
                        &nbsp;&nbsp;<br /><br />
                    </p>*@
                <div id="CVDChart">
                </div>
            </div>
        </div>
        @Html.Partial("_ReadingSummary", Model)
    </div>

    <div id="dialogViewCVD_QA" style="display:none">

     
     </div>


        }

<style>
    .card {
      
        width: 100%;
       
        margin-top: 30px;
    }

        .card:hover {
           
        }
        .questions{
         font-size:medium;
        }

    .answer {
        margin-top: 10px;
        font-size: initial;
        float: left;
        margin-left: 25px;
    }


    .container {
        padding: 2px 25px;
        margin-top:5px;
    }
</style>

        <script>
    @Html.Partial("_ChartScript", Model)
    function ReDrawChart(chartType) {
        DrawChart("#CVDChart", qaTitle, qaSubTitle, qaxAxisText, qaxAxisData, qayAxisText, qayAxisSeriesData, chartType);
    }
    $(document).ready(function () {
        IntializeDeviceHistory();
        ReDrawChart(_chartType);
    $("#RowCRTReadingDurations").hide();
    $("#RowCRTReading").hide();

              $('#dialogViewCVD_QA').dialog({
            title: 'Covid-19 Quetion and Answer',
            width: 800,
            height: 600,
            modal: true,
            autoOpen: false,
        });
    });


      function DeleteCVDReading(id, _PatientID) {
        var rslt = confirm("Are you sure you want to delete this reading?");
        if (rslt) {
            $.ajax({
                type: "POST",
                url: "DeleteDeviceReadingById",
                dataType: "html",
                data: { deviceType: "CVD", id: id },
                success: function (data) {


                    if (location.href.indexOf("deviceType=CVD") != -1) {
                        ShowMessage("success", "Covid-19 reading deleted successfully.");
                        location.reload();
                    }
                    else {

                        ShowMessage("success", "Covid-19 reading deleted successfully.");
                        OpenReading1("CVD", "Covid-19 Reading", _PatientID);
                        ClosePopup();
                    }


                },
                error: function (request, textStatus, errorThrown) {
                    ShowCallbackError(request, textStatus, errorThrown);
                }
            });
        }
        return false;
    }

    function ViewCVD_QA(id, _PatientID)
    {
             $( "#dialogViewCVD_QA").html('');
        $.ajax({
                type: "GET",
                url: "ViewCovidReading_QA",
                dataType: "html",
                data: { patientId: _PatientID, id: id },
                success: function (data) {

                    var resultCVD=JSON.parse(data);
                    var COVID_QA =resultCVD["COVID-QA"];
                    var daily_qa =COVID_QA["daily-qa"];
            if(daily_qa==undefined)
            {
             $( "#dialogViewCVD_QA").append("<div class='card'>");
                  $( "#dialogViewCVD_QA").append("<div class='questions'>No Question And Answer</div>");
             $( "#dialogViewCVD_QA" ).append("</div>");
              $('#dialogViewCVD_QA').dialog('open');
            }
            else
            {
            if(daily_qa.length>0)
            {

             $.each(daily_qa, function( index, value ) {

            var questionno=index+1;
                 $( "#dialogViewCVD_QA").append("<div class='card'>");
                  $( "#dialogViewCVD_QA").append("<div class='questions'> "+questionno+". "+value.questionText+"</div>");
                  $( "#dialogViewCVD_QA").append("<div class='container' id='questionandAnswer'>");

             $.each(value.answers, function( index, Ansvalue )
            {

                  $( "#dialogViewCVD_QA").append("<div class='answer'>");
                  $( "#dialogViewCVD_QA").append("<input type='checkbox' disabled  checked>");
                  $( "#dialogViewCVD_QA").append(" <label style='padding: 4px 45px;'> "+Ansvalue.answerText+"</label>");
                  $( "#dialogViewCVD_QA").append("</div>");
            });


                 $( "#dialogViewCVD_QA" ).append("</div>");
                 $( "#dialogViewCVD_QA" ).append("</div>");
               });
            $('#dialogViewCVD_QA').dialog('open');
            }
            else

            {
             $( "#dialogViewCVD_QA").append("<div class='card'>");
                  $( "#dialogViewCVD_QA").append("<div class='questions'>No Question And Answer</div>");
             $( "#dialogViewCVD_QA" ).append("</div>");
              $('#dialogViewCVD_QA').dialog('open');
            }

            }


                },
                error: function (request, textStatus, errorThrown) {
                    ShowCallbackError(request, textStatus, errorThrown);
                }
            });



     }

        </script>
