﻿@model EmailTemplateModel
<div class="content">

    <form name="EmailForm" id="EmailForm" method="POST">

        <div class="row">
            <div class="large-12 columns">
                <label>From</label>
                @Html.TextBoxFor(model => model.From, new { @readonly = "readonly" })
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <label>To</label>
                @Html.TextBoxFor(model => model.To)
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                @Html.HiddenFor(model => model.PartyId)
                <a href="javascript:void(0)" onclick="SendEmail()" class="small button">Send Email</a>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">

</script>