﻿@model PatientDevicesModel

@{
    var feelings = Model.QuadrantDetail.feeling;
}
<table class="feelingTable">
    <tr>
        <td class="text-left">
            <label class="feelingLabelHeader indent-left">Well-Being</label>
        </td>
        <td colspan="2" class="text-center">
            <label class="white">
                @if (feelings != null)
                {
                    <text>
                        @string.Format("By {0}:  {1} on {2}", feelings.userType, feelings.userName, feelings.updateTs)
                    </text>
                }
            </label>
        </td>
        <td class="text-right">
            <label class="feelingLabelHeader indent-right">
                @if (Model.Patient.isPartyActive)
                { 
                    <a href="javascript:void(0)" title="Record How you feel?" onclick="OpenRecordFeelings()"><i class="fa fa-circle icon-red"></i> Record</a>
                }
            </label>
        </td>
    </tr>
    @if (feelings != null)
    {
        <tr id="feelingReadingRow">
            <td id="ftTd1">@feelings.painReading
                <a href="javascript:void(0)" onclick="OpenReading('@DeviceType.Feelings', '@DeviceType.Feelings.ToDeviceType()' ) ">
                <img src="@string.Format("/Images/Feeling/Pain{0}.png", @feelings.painReading)" class="feelingImage" />
                <label class="feelingLabel">@feelings.painDesc Pain</label>
                </a>
            </td>
            <td id="ftTd2">
                <a href="javascript:void(0)" onclick=" OpenReading('@DeviceType.Feelings', '@DeviceType.Feelings.ToDeviceType()' ) ">
                    <img src="@string.Format("/Images/Feeling/Mood{0}.png", @feelings.moodReading)" class="feelingImage" />
                    <label class="feelingLabel">@feelings.moodDesc Mood</label>
                </a>
            </td>
            <td id="ftTd3">
                <a href="javascript:void(0)" onclick=" OpenReading('@DeviceType.Feelings', '@DeviceType.Feelings.ToDeviceType()') ">
                    <img src="@string.Format("/Images/Feeling/Energy{0}.png", @feelings.energyReading)" class="feelingImage" />
                    <label class="feelingLabel">@feelings.energyDesc Energy</label>
                </a>
            </td>
            <td id="ftTd4">
                <a href="javascript:void(0)" onclick=" OpenReading('@DeviceType.Feelings', '@DeviceType.Feelings.ToDeviceType()') ">
                    <img src="@string.Format("/Images/Feeling/Breathing{0}.png", @feelings.breathingReading)" class="feelingImage" />
                    <label class="feelingLabel">@feelings.breathingDesc Breathing</label>
                </a>
            </td>
        </tr>
    }
    else
    {
        <tr>
            <td colspan="4" class="feelingLabel">
                No Well-Being have been recorded yet.
            </td>
        </tr>
    }
</table>
