﻿<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width; initial-scale=0.95;" />
    <meta http-equiv="x-ua-compatible" content="IE=10">
    <title>My Vitalz - @ViewBag.Title</title>
    <link rel="icon" type="image/ico" href="favicon.ico" />


    <link href="/Packages/Foundation/Css/normalize.css" rel="stylesheet" type="text/css" />
    <link href="/Packages/Foundation/Css/Foundation.css" rel="stylesheet" type="text/css" />

    <!-- styles needed by jScrollPane -->
    <link type="text/css" href="/Packages/JScrollpane/css/jquery.jscrollpane.css" rel="stylesheet" media="all" />
    <link type="text/css" href="/Packages/JScrollpane/css/jquery.jscrollpane-Lozenge.css" rel="stylesheet" media="all" />

    <link href="/Packages/Datatables/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600&amp;lang=en-SG" />
    <link href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="~/Packages/FontAwesome.4.7.0/Content/Content/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="/Packages/Foundation/Js/vendor/custom.modernizr.js"></script>

    <!-- the mousewheel plugin - optional to provide mousewheel support -->
    <script type="text/javascript" src="/Packages/JScrollpane/script/jquery.mousewheel.js"></script>

    <!-- the jScrollPane script -->
    <script type="text/javascript" src="/Packages/JScrollpane/script/jquery.jscrollpane.min.js"></script>
    <script type="text/javascript" src="/Packages/NiceScroll/jquery.nicescroll.min.js"></script>
    
    @*
    @Styles.Render(ConfigBundle.CssBundle)
    @Scripts.Render(ConfigBundle.JsHeaderBundle)
    *@
    <style>
.jspTrack {
    background: #e0e0e0 !important;
}

.jspDrag {
    background: darkgray !important;
}
        fieldset {
            display: table-column;
            width: 100%;
        }
        @if (Request.UserAgent.Contains("MSIE") == true
                || Request.UserAgent.EndsWith("Gecko") == true)
        { 
            <text>
                fieldset {
                    display: inline;
                }
                div.dataTables_scrollBody { min-height: 0%; }
            </text>
        }
    </style>

</head>
<body>
    <div id="messageDiv" class="hide"></div>
    <header class="main-header hide-on-print" style="background-color: #e0e0e0 !important;">
        <div class="topmost-bar">
            <div class="row">
                <div class="large-6 small-6 columns show-for-medium-up">
                    <a href="http://www.myvitalz.com/sitemap/">Sitemap</a>
                    <a href="http://www.myvitalz.com/privacy-policy/" class="line">Privacy Policy</a>
                    <a href="http://www.myvitalz.com/contact-us/" class="line">Contact Us</a>

                </div>
                <div class="large-6 small-6 columns text-right">
                    @if (Request.IsAuthenticated)
                    {
                        <strong>Welcome @Helper.CurrentUser.NickName</strong>
                        <a href="/Account/LogOff" class="line">Log Off</a>
                    }
                    else
                    {
                        <a href="/Account/LogOn">Log On</a>
                    }
                </div>
            </div>
        </div>
        <div class="headerTopBar">
            <br />
        </div>
        <div class="contain-to-grid" style="background-color: white; padding-bottom: 0px; padding-top: 0px">
            <nav class="top-bar" style="background-color: white">
                <ul class="title-area">
                    <!-- Title Area -->
                    <li class="name">
                        <h1>
                            <a href="/">
                                <img src="/images/logo/MyVitalz-Animated-header5.gif" />
                            </a>
                        </h1>
                    </li>
                    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
                </ul>

                <section class="top-bar-section" style="background-color: white">
                    @Html.Partial("_TopBar")
                </section>
            </nav>
        </div>
    </header>
    <div class="row print-only" style="font-size: 1em;line-height: 5em;">
        <img src="/Images/logo/Logo-Black.png" width="50%"/>
    </div>
    <div class="headerText">
        <div class="row">
            <div class="large-12 columns">
                <span>@ViewBag.Title</span>
            </div>
        </div>
    </div>
    <div class="headerTopBar hide-on-print">
        <br />
        <br />
    </div>

    <div class="row">
        @if (ViewBag.Layout == null
                 || ViewBag.Layout == "TwoColumn")
        { 
            <div class="large-9 columns">
                <section id="mainSection">
                    <div class="row">
                        <div class="large-12 columns">
                            @RenderBody()
                        </div>
                    </div>
                </section>
            </div>
            <div class="large-3 columns hide-on-print">
                <section id="leftSection">
                    @RenderSection("LeftSection", false)
                </section>
            </div>
        }
        else if (ViewBag.Layout == "OneColumn")
        { 
            <div class="large-12 columns">
                <section id="mainSection">
                    <div class="row">
                        <div class="large-12 columns">
                            @RenderBody()
                        </div>
                    </div>
                </section>
            </div>
        }
    </div>
    @*Modal Window*@
    <div id="modalWindow" class="dialog-normal" class="hide">
        <div id="modalWindowError">
        </div>
        <div id="modalWindowContent">
        </div>
    </div>
     <div id="modalWindow1" class="dialog-normal" class="hide">
            <div id="modalWindow1Error">
            </div>
            <div id="modalWindow1Content">
            </div>
        </div>
    <footer>
        @*
        <div class="row" style="">
            <div class="large-6 columns">
                <p>
                    <img src=" http://www.myvitalz.com/wp-content/uploads/2013/04/footer-logo-green.png" /><br />
                    MyVitalz, LLC is a technology company based in Omaha, Nebraska.  We are closing the gap between healthcare and technology by enabling meaningful care solutions for healthcare professionals, families and caregivers.
                </p>
            </div>
            <div class="large-6 columns" style="vertical-align:middle">
                <p style="padding-top:30px;line-height:30px">
                    <a href="http://www.youtube.com/user/Cypress962/videos" class="white fc-webicon mail small" target="_blank">Mail</a><br />
                <a href="http://www.youtube.com/user/Cypress962/videos" class="white fc-webicon youtube small" target="_blank">YouTube</a><br />
                <a href="http://www.linkedin.com/company/myvitalz-llc?goback=%2Efcs_GLHD_myvitalz_false_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2&#038;trk=top_nav_home" class=" fc-webicon linkedin white small"  target="_blank"><i class="foundicon-linkedin"></i> LinkedIn</a><br />
                </p>
            </div>
        </div>
        *@
        @*<div class="footer-copyright clearfix">*@
        <div class="row">
            <div class="large-7 columns">
                Copyright © @DateTime.Now.Year MyVitalz, LLC. All rights reserved.
            </div>
            <!-- end .foot-copy -->
            <div class="large-5 columns text-right">
                <a href="https://myvitalz.com/contact/" class="white">Contact Us</a>
                <a href="http://www.myvitalz.com" class="line white">Myvitalz.com</a>
        @*
                <a href="http://www.myvitalz.com/about-us/" class="line white">About Us</a>
                    <a href="http://www.myvitalz.com/executive-bios/" class="line white">Executive bios</a>
                    <a href="http://www.myvitalz.com/mhealth/" class="line white">mHealth</a>
                    <a href="http://www.myvitalz.com/partners/" class="line white">Partners</a>
                <a href="http://www.myvitalz.com/contact-us/" class="line white">Contact Us</a>
                    *73.
                21            </div>
            <!-- end .center-wrap -->
        </div>
        @*</div>*@
    </footer>

    <script src="/Packages/Foundation/Js/Foundation.min.js"></script>
    <script src="/Packages/Foundation/Js/Foundation/Foundation.topbar.js"></script>
    <script src="/Packages/Foundation/Js/Foundation/Foundation.section.js"></script>
    <script src="/Packages/Foundation/Js/Foundation/Foundation.js"></script>
    <script src="/Packages/Foundation/Js/Foundation/Foundation.dropdown.js"></script>
    <script src="/Packages/Foundation/Js/Foundation/Foundation.placeholder.js"></script>
    <script src="/Packages/Foundation/Js/Foundation/Foundation.forms.js"></script>
    <script src="/Packages/Foundation/Js/Foundation/Foundation.alerts.js"></script>
    <script src="/Packages/Foundation/Js/Foundation/Foundation.magellan.js"></script>
    <script src="/Packages/Foundation/Js/Foundation/Foundation.reveal.js"></script>
    <script src="/Packages/Foundation/Js/Foundation/Foundation.tooltips.js"></script>
    <script src="/Packages/Foundation/Js/Foundation/Foundation.clearing.js"></script>
    <script src="/Packages/Foundation/Js/Foundation/Foundation.cookie.js"></script>
    <script src="/Packages/Foundation/Js/Foundation/Foundation.joyride.js"></script>
    <script src="/Packages/Foundation/Js/Foundation/Foundation.orbit.js"></script>
    <script src="/Packages/Foundation/Js/Foundation/Foundation.section.js"></script>
    <script src="/Packages/Foundation/Js/Foundation/Foundation.topbar.js"></script>
    <script src="/Packages/Datatables/js/jquery.dataTables.min.js"></script>
    <script src="/Packages/HighCharts/js/highstock.js"></script>
    <script src="/Packages/HighCharts/js/themes/gray.js"></script>
    <script src="/Packages/Masking/jquery.maskedinput.min.js"></script>
    <script src="/Scripts/MyVitalz.js"></script>
    <!--  -->
    @*
    @Scripts.Render(ConfigBundle.JsBundle)
    *@
    <script type="text/javascript">
        $(document).foundation();
    </script>
    @if (IsSectionDefined("ScriptSection"))
    {
        @RenderSection("ScriptSection")
    }

</body>
</html>
