﻿@model ManualReadingModel



<div class="content">

    @*@using(Ajax.BeginForm("ManualReadingForm", new AjaxOptions { UpdateTargetId = 'quadrantDetail' }))
        {*@
    <form name="ManualReadingForm" id="ManualReadingForm" method="POST">
        @*        <div class="row">
                <div class="text-right large-12 columns">
                    <a href="ManualReadingDialog?patientId=@Model.PartyId" target="_blank"> <i class="fa fa-external-link"></i> Open in New Window</a>
                </div>
            </div>*@
        <div class="row headerTopBar" style="line-height: 30px;">
            <div class="large-6 columns div.align">
                <label><b>Please enter your Vital signs below:</b></label>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="large-3 columns deviceBPM">
                <label><b>BP: Systolic</b></label>
                @Html.TextBoxFor(model => model.BPReading_Systolic)    @*, new { onchange = "SplitReadings()" }   *@
            </div>
            <div class="large-3 columns deviceBPM">
                <label><b>Diastolic</b></label>
                @Html.TextBoxFor(model => model.BPReading_Diastolic)
            </div>
            <div class="large-6 columns deviceWSM">
                <label><b>Weight</b></label>
                @Html.TextBoxFor(model => model.WSReading)
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns devicePRM">
                <label><b>Pulse Rate</b></label>
                @Html.TextBoxFor(model => model.BPReading_PR, new { })
            </div>
            <div class="large-6 columns deviceBCM">
                <label><b>Blood Glucose</b></label>
                @Html.TextBoxFor(model => model.BGReading, new { })
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns devicePOM">
                <label><b>Oxygen Level</b></label>
                @Html.TextBoxFor(model => model.POReading, new { })
            </div>
            <div class="large-3 columns deviceSPR">
                <label><b>Respiratory: FEV<sub>1</sub></b></label>
                @Html.TextBoxFor(model => model.SMReading_Fev, new { })
            </div>
            <div class="large-3 columns deviceSPR">
                <label><b>PEF</b></label>
                @Html.TextBoxFor(model => model.SMReading_Pef, new { })
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns deviceTMM">
                <label><b>Temperature</b></label>
                @Html.TextBoxFor(model => model.TSReading, new { })
            </div>
            <div class="large-6 columns deviceA1C">
                <label><b>HbA1c</b></label>
                @Html.TextBoxFor(model => model.A1CReading, new { })
            </div>
        </div>

        <div class="row">
            <div class="large-6 columns deviceDateTime">
                <label><b>Date</b></label>
                <input id="txtmanualDate" readonly="readonly" style="background-color: #f2f2f2;border: 1px;padding: 8px;" autocomplete="off" type="text" value="" tabindex="4" />
              
            </div>
            <div class="large-6 columns deviceDateTime" >
                <div class="row collapse input-append date">
                    <label>Time</label>
                    <div class="small-10 columns">
                        <input type="text" id="txtmanualTime" maxlength="5"  style="background-color: #f2f2f2;border: 1px;padding: 8px;"  autocomplete="off" placeholder="hh:mm" class="form-control" />
                        <label id="lbltimeerror" style="color:red"></label>
                    
                    </div>
                    <div class="small-2 columns" id="refereshTime" >
                        <span class="postfix add-on" style="padding: 12px 0 0 15px;height: 2.6126em;">
                        <i data-time-icon="icon-time" class="fa fa-refresh"></i></span>
                    </div>
                </div>

            </div>
        </div>


        <div class="row">
            <div class="large-6 columns">
                @Html.HiddenFor(model => model.PartyId)
                <a href="javascript:void(0)" onclick="AddManualReading()" class="small button">Save</a>
                <a href="javascript:void(0)" onclick="CancelManualReading()" class="blackLine">Close</a>
            </div>
        </div>
    </form>
    @*}*@
</div>

<script type="text/javascript">

    $(function () {
        $("#lbltimeerror").text('');
        $("#txtmanualDate").datepicker({
            maxDate: new Date()
        });
        $("#txtmanualDate").datepicker('setDate', new Date());
        new Date($.now());
        var dateObj = new Date();
        var time = (dateObj.getHours() < 10 ? '0' : '') + dateObj.getHours() + ":" +
            (dateObj.getMinutes() < 10 ? '0' : '') + dateObj.getMinutes();                         

        $('#txtmanualTime').val(time);       

       
    
    });
    
    $("#refereshTime").on('click', function () {
        $("#lbltimeerror").text('');
        new Date($.now());
        var dateObj = new Date();
        var time = (dateObj.getHours() < 10 ? '0' : '') + dateObj.getHours() + ":" +
            (dateObj.getMinutes() < 10 ? '0' : '') + dateObj.getMinutes();       
        $('#txtmanualTime').val(time);       

    });
    function AddManualReading() {
        $("#lbltimeerror").text('');
        var parameters = $("#ManualReadingForm").serialize();        
        var manualdatetime = moment($("#txtmanualDate").val()).format("YYYY-MM-DD") +' '+ $('#txtmanualTime').val();       

        var valid = moment($("#txtmanualTime").val(), "HH:mm", true).isValid();       
        if (valid == false) {
            $("#lbltimeerror").text('Invalid time!')
            return;
        }
        if (moment($("#txtmanualDate").val()).format("YYYY-MM-DD") == moment(new Date()).format("YYYY-MM-DD")) {
            new Date($.now());
            var dateObj = new Date();
            var time = (dateObj.getHours() < 10 ? '0' : '') + dateObj.getHours() + ":" +
                (dateObj.getMinutes() < 10 ? '0' : '') + dateObj.getMinutes(); 
            if (time < $('#txtmanualTime').val()) {
               
                $("#lbltimeerror").text('Feature time not allowed!')
                return;
            }
            
        }
       

        $.ajax({
            type: "POST",
            url: "AddManualReading",
            dataType: "html",           
            data: parameters + "&Measurement_Time=" + manualdatetime,
            success: function (data) {

                if (location.href.indexOf("PatientReading?patientId") != -1) {
                    ShowMessage("success", "Reading added successfully.");
                    CloseDialogWindow();
                    InitialLoadReading();
                    ClosePopup();

                }
                else {
                    ShowMessage("success", "Reading added successfully.");
                    CloseDialogWindow();
                }


            },
            error: function (request, textStatus, errorThrown) {
                ShowDialogCallbackError(request, textStatus, errorThrown);
            }
        });
    }

    function CancelManualReading() {
        $.ajax({
            success: CloseDialogWindow()
        });
    }

    function SplitReadings() {
        var BPValue = $("#BPReading").val();
        //var BPValue = document.getElementById("BPReading").value
        //var Regex = /[/]/igm;
        var Regex = /6/igm;
        if (BPValue.match(Regex)) {
            return true;
        }
        else {
            //return false;
            //return 'Please enter Diastolic reading after ' / '.';
            $.ajax({
                error: function () {
                    ShowDialogCallbackError('Please enter Diastolic reading after ' / '.');
                }
            });
            $("#BPReading").focus();
            //$("#ManualReadingForm").html("<div><p>Please enter Diastolic reading after '/'.</p></div>");
        }

        //$("#BPReading").mask("99/99");
        //$("#BPReading").attr("placeholder", "Systolic reading/Diastolic Reading");
    }

    //$(function () {
    //    $("#BPReading").focus(AddManualReading);
    //    SplitReadings();
    //});
</script>
