﻿@model Party
    <ul class="side-nav">
        @* <li class="show-for-medium-up"><img src="/Images/Identity/@string.Format("{0}.jpg", Model.id)"/></li> *@
        <li class="show-for-medium-up"><label> @Model.GetName() </label><label>Patient</label></li>
        <li class="divider show-for-medium-up"></li>
        @Html.Partial("_PartyLinks")
    </ul>
