﻿@model DeviceModel
    <form name="DeviceForm" id="DeviceForm">
        <div class="row">
            <div class="large-8 columns">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="large-4 columns">
                <label>Show Readings For</label>
                <select id="DateRange" name="DateRange" onchange="ChangeDates()">
                    <option value="1D">Today</option>
                    <option value="1W">Last Week</option>
                    <option value="1M" selected="selected">Last Month</option>
                    <option value="3M">Last 3 Months</option>
                    <option value="6M">Last 6 Months</option>
                    <option value="1Y">Last Year</option>
                    <option value="DR">Specify Date Range</option>
                </select>
            </div>
            <div class="large-3 columns hide dateRangeOptions">
                <label>From Date</label>
                @Html.TextBox("FromDate", Model.FromDate.ToShortDateString(), new {@class="dateField"})
            </div>
            <div class="large-3 columns hide dateRangeOptions">
                <label>To Date</label>
                @Html.TextBox("ToDate", Model.ToDate.ToShortDateString(), new {@class="dateField"})
            </div>
            <div class="large-2 columns hide dateRangeOptions">
                <br/>
                @Html.Hidden("PatientId", Model.Patient.id)
                @Html.Hidden("DeviceType", Model.Device.deviceType)
                <a href="javascript:void(0)"  onclick="RefreshReading()" class="button small">Go</a>
            </div>
        </div>    
    </form>