﻿@model DeviceModel
<div class="row">
    <div class="text-right large-12 columns">
        <a href="Device?deviceType=@Model.Device.deviceType&patientId=@Model.Patient.id#readingChart" target="_blank"> <i class="fa fa-external-link"></i> Open in New Window</a>
    </div>
</div>
@Html.Partial("_ReadingsDateRangeForm", Model)

<div style="height: 842px">

    <asp:ScriptManager ID="ScriptManager1" runat="server">
    </asp:ScriptManager>
    This is test line:<br />
    <br />
    <rsweb:ReportViewer ID="ReportViewer1" runat="server" Font-Names="Verdana" Font-Size="8pt" WaitMessageFont-Names="Verdana" WaitMessageFont-Size="14pt" AsyncRendering="False" Height="80%" Width="95%">
        <localreport reportpath="Reports\PatientsReport.rdlc">
            <datasources>
                <rsweb:reportdatasource datasourceid="ObjectDataSource1" name="paitentList" />
                <rsweb:reportdatasource datasourceid="ObjectDataSource2" name="dsPatientReading" />
            </datasources>
        </localreport>
    </rsweb:ReportViewer>
    <asp:ObjectDataSource ID="ObjectDataSource2" runat="server" OldValuesParameterFormatString="original_{0}" SelectMethod="GetData" TypeName="MyVitalz.Web.myvitalzDataSetTableAdapters.PatientReadingTableAdapter"></asp:ObjectDataSource>
    <asp:ObjectDataSource ID="ObjectDataSource1" runat="server" DeleteMethod="Delete" InsertMethod="Insert" OldValuesParameterFormatString="original_{0}" SelectMethod="GetData" TypeName="MyVitalz.Web.myvitalzDataSetTableAdapters.partyTableAdapter" UpdateMethod="Update">
        <deleteparameters>
            <asp:parameter name="p1" type="Int64" />
        </deleteparameters>
        <insertparameters>
            <asp:parameter name="p1" type="String" />
            <asp:parameter name="p2" type="String" />
            <asp:parameter name="p3" type="String" />
            <asp:parameter name="p4" type="String" />
            <asp:parameter name="p5" type="String" />
            <asp:parameter name="p6" type="DateTime" />
            <asp:parameter name="p7" type="String" />
            <asp:parameter name="p8" type="String" />
            <asp:parameter name="p9" type="String" />
            <asp:parameter name="p10" type="String" />
            <asp:parameter name="p11" type="String" />
            <asp:parameter name="p12" type="String" />
            <asp:parameter name="p13" type="String" />
            <asp:parameter name="p14" type="String" />
            <asp:parameter name="p15" type="String" />
            <asp:parameter name="p16" type="String" />
            <asp:parameter name="p17" type="String" />
            <asp:parameter name="p18" type="String" />
            <asp:parameter name="p19" type="DateTime" />
            <asp:parameter name="p20" type="String" />
            <asp:parameter name="p21" type="DateTime" />
            <asp:parameter name="p22" type="String" />
            <asp:parameter name="p23" type="String" />
            <asp:parameter name="p24" type="String" />
        </insertparameters>
        <updateparameters>
            <asp:parameter name="p1" type="String" />
            <asp:parameter name="p2" type="String" />
            <asp:parameter name="p3" type="String" />
            <asp:parameter name="p4" type="String" />
            <asp:parameter name="p5" type="String" />
            <asp:parameter name="p6" type="DateTime" />
            <asp:parameter name="p7" type="String" />
            <asp:parameter name="p8" type="String" />
            <asp:parameter name="p9" type="String" />
            <asp:parameter name="p10" type="String" />
            <asp:parameter name="p11" type="String" />
            <asp:parameter name="p12" type="String" />
            <asp:parameter name="p13" type="String" />
            <asp:parameter name="p14" type="String" />
            <asp:parameter name="p15" type="String" />
            <asp:parameter name="p16" type="String" />
            <asp:parameter name="p17" type="String" />
            <asp:parameter name="p18" type="String" />
            <asp:parameter name="p19" type="DateTime" />
            <asp:parameter name="p20" type="String" />
            <asp:parameter name="p21" type="DateTime" />
            <asp:parameter name="p22" type="String" />
            <asp:parameter name="p23" type="String" />
            <asp:parameter name="p24" type="String" />
            <asp:parameter name="p25" type="Int64" />
        </updateparameters>
    </asp:ObjectDataSource>

</div>


<div class="row">
    <div class="large-12 columns">
        <div id="readingsDiv">
            @Html.Partial(Model.DeviceView, Model)
        </div>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <div class="content">
            <div id="splDummyChartDiv"></div>
            <div id="isSmallDeviceDiv" class="show-for-small"></div>
        </div>
    </div>
</div>
