﻿<ul class="right" style="margin-top: -35px;">
    @*
    <li><a href="http://www.myvitalz.com/">Home</a></li>
    *@
    @if (Request.IsAuthenticated)
    { 
        @Html.Partial("_PartyLinks")
        @*
        <li>           <a href="/Account/LogOff">Log Off</a>
        </li>
        *@
    }
    @*
    <li class="has-dropdown"><a href="http://www.myvitalz.com/about-us/">About Us</a>
        <ul class="dropdown">
            <li><a href="http://www.myvitalz.com/about-us/our-vision/">Our Vision</a></li>
            <li><a href="http://www.myvitalz.com/executive-bios/">Executive bios</a></li>
            <li><a href="http://www.myvitalz.com/partners/">Partners</a></li>
        </ul>
    </li>
    <li><a href="http://www.myvitalz.com/contact-us/">Contact Us</a></li>
    *@
</ul>
