﻿@model DailyReportModel
@{
if (Model.IsListView == true)
{
    ViewBag.Layout = "TwoColumn";
}
else{
    ViewBag.Layout = "OneColumn";
}
    ViewBag.Title = Helper.CurrentUser.FullName + " - Whiteboard";
}
@Html.Partial("_BreadCrumbs", new BreadCrumbsModel(ViewName.DailyReport))

<input type="hidden" id="IsListView" value="@Model.IsListView.ToString()" />
<input type="hidden" id="#ConName" value="@ViewBag.ControllerName" />

@if (Model.IsListView == true)
{
    <div class="row">
        <div class="large-12 columns center">
            <img src="http://portal.myvitalz.com/images/logo/DailyReport.png" alt="MyVitalzDailyReportLogo" />
            <br /><br />
        </div>
    </div>
}
else
{
    
}
@if (Model.Report != null
         && Model.Report.patients != null)
{
    <div class="row">
        <div class="large-12 columns" style="line-height: 1.2em">
            @DateTime.Now.ToString("f")<br />
            Total Patients: <strong>@Model.Report.patientCount</strong><br />
            Patients Off-Target: <strong>@Model.Report.patientOffTargetCount</strong>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <div class="right">
                <a href="javascript:void(0)" onclick=" ExpandOrCollapseAll(this) " class="toolsarrow" title="Show all/less support members">Expand</a>
                @if (Model.IsListView == true)
                {
                    if (Model.IsFullReport == true)
                    {
                        <a href="DailyReport?isListView=True" class="blackLine" title="Show default report based on device preference">Show Default Report</a>
                    }
                    else
                    {
                        <a href="FullDailyReport?isListView=True" class="blackLine" title="Show full report by ignoring device preference">Show Hidden Readings</a>
                    }
                    <a href="javascript:void(0)" onclick="window.print()" class="blackLine hide-on-print" title="Print the Whiteboard"><i class="fa fa-print"></i> Print</a>
                    <a href="DailyReport?isListView=False" class="blackLine" title="Show report in Table View mode"><i class="fa fa-table"></i></a>
                }
                else
                {
                    <a href="javascript:void(0)" onclick="window.print()" class="blackLine hide-on-print" title="Print the Whiteboard"><i class="fa fa-print"></i> Print</a>
                    <a href="javascript:void(0)" onclick="ReportDetailsRefresh()" class="blackLine" title="Refresh"><i class="fa fa-refresh"></i> Refresh</a>
                    @*<a href="DailyReport?isListView=True" class="blackLine" title="Show report in List View Mode"><i class="fa fa-list"></i></a>*@
                }
                @*@if (Model.subscribe == "N")
                    {
                        <a href="javascript:void(0)" onclick="SubscribeOrUnsubscribe('@Helper.CurrentUser.Email', 'true')" class="blackLine" title="Subscribe Daily Report">Subscribe</a>
                    }
                    else
                    {
                        <a href="javascript:void(0)" onclick="SubscribeOrUnsubscribe('@Helper.CurrentUser.Email', 'false')" class="blackLine" title="Unsubscribe Daily Report">Unsubscribe</a>
                    }*@
                @*<a href="javascript:void(0)" onclick=" EmailReport() " class="blackLine" title="Email the Daily Report to Someone"><i class="fa fa-envelope"></i> Email</a>*@
            </div>
        </div>
    </div>

    <br />
    <div class="row">
        @if (Model.IsListView == true)
        {
            <div class="large-12 columns" id="pop-up-time-interval">
                @Html.Partial("_DailyReportList", Model.Report)
            </div>
        }
        else
        {
            <div class="large-12 columns" id="pop-up-time-interval">
                @Html.Partial("_DailyReportGrid", Model)
            </div>
        }


    </div>
}
else
{
    if( Model.Readings != null && Model.Readings.patients != null )
    {
        <div class="row">
            <div class="large-12 columns" style="line-height: 1.2em">
                @DateTime.Now.ToString("f")<br />
                Total Patients: <strong>@Model.Readings.patientCount</strong><br />
                Patients Off-Target: <strong>@Model.Readings.patientOffTargetCount</strong>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <div class="right">
                    <a href="javascript:void(0)" onclick=" ExpandOrCollapseAll(this) " class="toolsarrow" title="Show all/less support members">Expand</a>
                    @if (Model.IsListView == true)
                    {
                        if (Model.IsFullReport == true)
                        {
                            <a href="DailyReport?isListView=True" class="blackLine" title="Show default report based on device preference">Show Default Report</a>
                        }
                        else
                        {
                            <a href="FullDailyReport?isListView=True" class="blackLine" title="Show full report by ignoring device preference">Show Hidden Readings</a>
                        }
                        <a href="javascript:void(0)" onclick="window.print()" class="blackLine hide-on-print" title="Print the Whiteboard"><i class="fa fa-print"></i> Print</a>
                        <a href="DailyReport?isListView=False" class="blackLine" title="Show report in Table View mode"><i class="fa fa-table"></i></a>                    
                    }
                    else
                    {
                        <a href="javascript:void(0)" onclick="window.print()" class="blackLine hide-on-print" title="Print the Whiteboard"><i class="fa fa-print"></i> Print</a>
                        <a href="javascript:void(0)" onclick="ReportDetailsRefresh()" class="blackLine" title="Refresh"><i class="fa fa-refresh"></i> Refresh</a>
                        @*<a href="DailyReport?isListView=True" class="blackLine" title="Show report in List View Mode"><i class="fa fa-list"></i></a>*@
                    }
                </div>
            </div>
        </div>

        <br />
        <div class="row">
            
                @if (Model.IsListView == true)
                {
                    <div class="large-12 columns" id="pop-up-time-interval">
                        @Html.Partial("_DailyReportList", Model.Report)
                    </div>
                }
                else
                {
                   <div class="large-12 columns" id="pop-up-time-interval">
                        @Html.Partial("_DailyReportGrid", Model)
                   </div>                    
                }
                        
        </div>
        
    }
    else
    {
        @:No out of range patients.
        if (Model.IsFullReport == false)
        {
            <span><a href="FullDailyReport">Click here</a> to show all the patients.</span>
        }
    }
}

@if (Model.IsListView == true)
{
    @section LeftSection
    {
        @Html.Partial("_UserInfo", Helper.CurrentUser)
    }
}

@section ScriptSection
{
    @{var userAgent = Request.UserAgent;
    }

    <style>
        
        .tdeven {
            background-color: whitesmoke;
        }
    </style>


    <script type="text/javascript">
        $("#PrintHeaderLogo").removeClass("print-only");
        $("#PrintHeaderLogo").addClass("hide");
        //InitializePatientTable();
        $('.f-dropdown').click(function () {
            if ($(this).hasClass('open')) {
                $('span[data-dropdown="' + $(this).attr('id') + '"]').trigger('click');
            }
        });

        function ReportDetailsRefresh() {
            
            if ($("#pop-up-time-interval").length != 0) {
                //var data = new Array();                
                //$("#pop-up-time-interval tr").each(function () {
                //    if ($(this).is(":visible") == false) {                        
                //        data.push($(this).attr("class"));
                //        //alert($(this).attr("class"));
                //    }
                //});
                $.ajax({
                    url: "FullDailyReportPartial",
                    data: { IsListView: $("#IsListView").val() },
                    dataType: "html",
                    success: function (result) {
                        $("#pop-up-time-interval").empty();
                        $("#pop-up-time-interval").html(result);
                        DailyReportCss();

                        //$.each(data, function (key, item) {
                        //   // alert(item);
                        //    $("." + item).hide();
                        //});
                    }
                });
            }
        }

        function HidePatient(obj, patientId) {
            var moreInfoRow = $(obj).closest("tr").siblings(".otherMembers").first();           
            moreInfoRow.remove();
            $(obj).closest("tr").remove();
            //Hide the patient in the server 
            $.ajax({
                url: "PatientsToHide",
                data: { patientToHide: patientId },
                success: function (result) {
                    DailyReportCss();
                }
            });
        }

        function setReviewCompleted(obj, patientId) {
            // change the style of the Patient <td> to have a strike thru
            var ele = document.getElementById(patientId);
            ele.style.setProperty("color", "red");
            ele.style.setProperty("font-size", "1em");
            ele.style.setProperty("text-decoration", "line-through");
            //ele.style.setProperty("background-color", "silver");
            //addItemTolocalStorage(patientId);

            var current = new Date().getTime(); // current time
            var tomorrow = new Date().setHours(24, 0, 0, 0);   // set expire time to the next midnight

            var minsUntilMidnight = (tomorrow - current)/(60*1000) // get the difference between the DateTimes and get seconds
            //Hide the patient in the server 
            $.ajax({
                url: "AddToReviewCompletedList",
                data: { patientId: patientId },
                success: function (result) {
                    DailyReportCss();
                }
            });
        }

        function addItemTolocalStorage(ele) {
            var itemList = [];
            itemList.push(ele);

            eleList = localStorage.getItem("ReviewCompletedItems");
            if (eleList == null) {
                localStorage.setItem("ReviewCompletedItems", JSON.stringify(itemList));
            } else {
                var lsItems = JSON.parse(eleList);
                lsItems.push(ele);
                localStorage.setItem("ReviewCompletedItems", JSON.stringify(lsItems));
            }
        }

        function renderItemsInlocalStorage() {
            var itemList = [];
            itemList.push(ele);

            var itemCount = localStorage.length;
            if (itemCount > 0) {
                var items = JSON.parse(localStorage.getItem("ReviewCompletedItems"));
                for (var i = 0; i < items.length; i++ ) {
                    setReviewCompleted(item[i]);
                }
            }
        }

        function ToggleSoapNotesForDR(patientId, patientFullName) {
            $.ajax({
                url: "ShowSoapNotesForDR",
                data: { patientId: patientId, patientFullName: patientFullName },
                dataType: "html",
                success: function (data) {
                    OpenDialogWindow("Soap Note", data, 1000, 1000);
                    $(document).foundation();
                },
                error: function (request, textStatus, errorThrown) {
                    ShowCallbackError(request, textStatus, errorThrown);
                }
            });
        }

        function DailyReportCss() {
            var count = 0;
            $("table tbody tr").each(function () {
                if (count == 0) {
                    if ($(this).is(":visible")) {
                        count = 1;
                    }
                }
                else {
                    if ($(this).is(":visible")) {
                        $(this).addClass("tdeven");
                        count = 0;
                    }
                }
            });
        }

        function RDIntervalRefresh() {
            if ($("#pop-up-time-interval").length != 0) {                
                $.ajax({
                    url: "DailyReportWithHiddenValues",
                    data: { IsListView: $("#IsListView").val() },
                    dataType: "html",
                    success: function (result) {
                        $("#pop-up-time-interval").empty();
                        $("#pop-up-time-interval").html(result);
                        DailyReportCss();
                    }
                });
            }
        }

        $(document).ready(function () {
            window.setInterval(function () {
                RDIntervalRefresh();
            }, 30000);
            DailyReportCss();
        });
        
    </script>

    <script type="text/javascript" src="/scripts/DailyReport.js"></script>
    <script type="text/javascript" src="/scripts/device.js"></script>
}
