﻿@model Patient[]
@{
    ViewBag.Layout = "TwoColumn";
    ViewBag.Title = Helper.CurrentUser.FullName + " - Patients";
}
@Html.Partial("_BreadCrumbs", new BreadCrumbsModel(ViewName.ShowPatients))

@if (Model != null)
{
    <div>
        @Model.Length Patients
    </div>
    <table id="patientTable" class="grid dataTable">
        <thead>
            <tr>
                @if(Helper.CurrentUser.IsInRole(Role.Doctor) == true)
                {
                <th>Action</th>
                }
                <th>Last Name</th>
                <th>First Name</th>
                <th>Patient ID</th>
                <th>Group ID</th>
                <th>Cell Phone</th>
                <th>Home Phone</th>
                <th>Work Phone</th>
                <th>Email</th>
                <th>DOB</th>
                <th>Gender</th>
                <th>Race</th>
                <th>Address Line1</th>
                <th>County</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
                <th>Start Date</th>
                <th>End Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var patient in Model)
                {
            <tr>
                @if(Helper.CurrentUser.IsInRole(Role.Doctor) == true)
                {
                <td>
                    <a href="EditPatient?partyId=@patient.id" title="Edit Party" class="small button split"><i class=" fa fa-pencil-square-o"></i> Edit <span data-dropdown="@patient.id"></span></a>
                    <ul id="@patient.id" class="f-dropdown" data-dropdown-content>
                       <li>                              
                                <a href="PatientReading?patientId=@patient.id" title="View Patient Readings"><i class=" fa fa-archive"></i> View</a>
                        </li>                      
                    </ul>
                </td>   
                }

                <td><a href="PatientDevices?patientId=@patient.id"><strong>@patient.lastName</strong></a></td>
                <td>@patient.firstName</td>
                <td>@patient.memberId</td>
                <td>@patient.group</td>
                <td>@patient.cellPhone</td>
                <td>@patient.homePhone</td>
                <td>@patient.workphone</td>
                <td>@patient.email</td>
                <td>@Helper.GetDate(patient.dob)</td>
                <td>@patient.gender</td>
                <td>@Helper.GetRace(patient.RACE)</td>
                <td>@patient.GetAddressLine1()</td>
                <td>@patient.GetAddressLine2()</td>
                <td>@patient.GetCity()</td>
                <td>@patient.GetState()</td>
                <td>@patient.GetZip5()</td>
                <td>@patient.coverageStartDate</td>
                <td>@patient.coverageEndDate</td>
            </tr>
                }
        </tbody>
    </table>
}
else
{
    <div class="row">
        <div class="large-12 columns">
            There is no patient assigned to you.
        </div>
    </div>
}

@section LeftSection
{
    @Html.Partial("_UserInfo", Helper.CurrentUser)
}

@section ScriptSection
{
    @{var userAgent = Request.UserAgent;
    }
    <script type="text/javascript">
        $(document).ready(function () {
            
            var tableWidth = 2500;
            var tableHeight = $("#patientTable").height();
            tableHeight = tableHeight / 2;
            tableHeight = parseInt(tableHeight);
            if (tableHeight > 400) {
                tableHeight = 400;
            } else {
                tableHeight = tableHeight + 10;
            }
            $('#patientTable').dataTable({
                "bJQueryUI": false,
                "bAutoWidth": false,
                "bPaginate": false,
                "bStateSave": false,
                "sPaginationType": "full_numbers",
                "aLengthMenu": DefaultDataTableLengthMenu,
                "fnDrawCallback": EnableOrDisablePagination,
                "sScrollX": tableWidth,
                "bScrollCollapse": false,
                "sScrollY": tableHeight,
                
                "aaSorting": []
            });

        });

    </script>
}
