﻿@model DeviceModel
@{
    ViewBag.Layout = "TwoColumn";
    ViewBag.Title = string.Format("Device - {0}", Model.Device.deviceType.ToDeviceType());
}

@{

    @Html.Partial("_BreadCrumbs", new BreadCrumbsModel(ViewName.ShowDevice, "0", Model.Patient.id, Model.Device))
   
}   






@Html.Partial("_ReadingsDateRangeForm", Model)

    <div class="row">
        <div class="large-12 columns">
            <div id="readingsDiv">
                @Html.Partial(Model.DeviceView, Model)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <div class="content">
                 <div id="dummyChartDiv"></div>
            </div>
        </div>
    </div>

<script src="/Scripts/Device.js"></script>
<script>
$(document).ready(function(){
    if(localStorage.getItem("BreadCrumbs")=='PatientReading')
    {
    var previousli=$('.current').prev('li');
    previousli.find('a').html("Dashboard");
    var urllinks=previousli.find('a').attr("href");
    previousli.find('a').attr("href",urllinks.replace("PatientDevices","PatientReading"));
    previousli.prev('li').find('a').html("Whiteboard");
    previousli.prev('li').find('a').attr("href","DailyReport");
    }
});
</script>
@section LeftSection
{
    @Html.Partial("_PartyInfo", Model.Patient)
}