﻿@using System.Text
@using System.Web.Mvc.Html;
@model ParameterModel
@{
    //if (Model == null)
    //{
    // ViewBag.Title = Model.Patient.GetName() + " - Parameters";
    //}
    var scriptBuilder = new StringBuilder();
}


@*<form name="parameterForm" id="parameterForm" method="POST" action="SaveParameters">*@
    @if (Model != null)
    {
        if (Model.Parameters == null || Model.Parameters.Length == 0)
        {
        @:No Parameters have been set
    }
        else
        {
        @*@Html.Partial("_BreadCrumbs", new BreadCrumbsModel(ViewName.ShowParameters, Helper.CurrentUser.UserId, Model.PatientId))*@

        <fieldset>
            <legend>@Model.Patient.GetName() - Parameters</legend>
            <ul class="large-block-grid-2 small-block-grid-2 ">
                @for (int index = 0; index < Model.Parameters.Length; index++)
                {
                if(Model.Parameters[index].deviceType.ToDeviceType() == "Spirometer"){
                    <li class="device@(Model.Parameters[index].deviceType) deviceParameter">
                        <label>@(Model.Parameters[index].deviceType.ToDeviceType())</label>
                        <div class="row collapse">   
                            <div class ="small-7 columns"><span class="prefix">FEV<sub>1</sub> % Change</span></div>                                                      
                            <div class="small-5 columns">
                                @Html.TextBox("ParameterModel.Parameters[" + index + "].upperLimit", Model.Parameters[index].upperLimit, new { @class = "ul" + Model.Parameters[index].deviceType })
                            </div>
                        </div>
                        <div class="row collapse">   
                            <div class ="small-7 columns"><span class="prefix">PEF % Change</span></div>                               
                          
                            <div class="small-5 columns">
                                @Html.TextBox("ParameterModel.Parameters[" + index + "].lowerLimit", Model.Parameters[index].lowerLimit, new { @class = "ll" + Model.Parameters[index].deviceType })
                            </div>
                        </div>
                        <div class="parameterSlider hide">
                            <div id="Slider@(Model.Parameters[index].deviceType)"></div>
                        </div>
                        @Html.Hidden("ParameterModel.Parameters[" + index + "].partyId", Model.Parameters[index].partyId)
                        @Html.Hidden("ParameterModel.Parameters[" + index + "].deviceType", Model.Parameters[index].deviceType)
                    </li>
                }
                else{
                    <li class="device@(Model.Parameters[index].deviceType) deviceParameter">
                        <label>@(Model.Parameters[index].deviceType.ToDeviceType())</label>
                        <div class="row collapse">
                            @*<div class="small-5 columns">
                                <span class="prefix">Daily</span>
                            </div>
                            <div class="small-12 columns">
                                @Html.DropDownListFromList("Parameters[" + index + "].frequency", Helper.GetFrequencyList(), "ID", "Value", Model.Parameters[index].frequency)
                            </div>*@
                        </div>
                        <div class="row collapse"> 
                            <div class="small-7 columns"> 
                                <span class="prefix">Max</span>
                            </div>
                                                        
                            <div class="small-5 columns">
                                @Html.TextBox("ParameterModel.Parameters[" + index + "].upperLimit", Model.Parameters[index].upperLimit, new { @class = "ul" + Model.Parameters[index].deviceType })
                            </div>
                        </div>
                        <div class="row collapse">                            
                            <div class="small-7 columns"> 
                                <span class="prefix">Min</span>
                            </div>         
                                            
                            <div class="small-5 columns">
                                @Html.TextBox("ParameterModel.Parameters[" + index + "].lowerLimit", Model.Parameters[index].lowerLimit, new { @class = "ll" + Model.Parameters[index].deviceType })
                            </div>
                        </div>
                        <div class="parameterSlider hide">
                            <div id="Slider@(Model.Parameters[index].deviceType)"></div>
                        </div>
                        @Html.Hidden("ParameterModel.Parameters[" + index + "].partyId", Model.Parameters[index].partyId)
                        @Html.Hidden("ParameterModel.Parameters[" + index + "].deviceType", Model.Parameters[index].deviceType)
                    </li>
                }                    
                                scriptBuilder.Append(string.Format("DrawVerticalSlider('#Slider{0}', '.ll{0}', '.ul{0}', 'vertical', true, {1}, {2}, {3}, {4});",
                                                                   Model.Parameters[index].deviceType,
                                                                   Model.GetDeviceMinimum(Model.Parameters[index].deviceType),
                                                                   Model.GetDeviceMaximum(Model.Parameters[index].deviceType),
                                                                   Model.Parameters[index].lowerLimit,
                                                                   Model.Parameters[index].upperLimit));
                                scriptBuilder.Append(Environment.NewLine);
                }
            </ul>
            @*<p>
                <a href="javascript:void(0)" onclick="SaveParameters()" class="small button">Save</a>
            </p>*@
        </fieldset>
        }
    }
    else
    { 
     @:No Parameters have been set
    }

<script>
    function DrawVerticalSlider(sliderDiv, llControlName, ulControlName, orientation, rangeType, minValue, maxValue, currentMinValue, currentMaxValue) {

        $(sliderDiv).slider({
            orientation: orientation,
            range: rangeType,
            min: minValue,
            max: maxValue,
            values: [currentMinValue, currentMaxValue],
            slide: function (event, ui) {
                $(llControlName).val(ui.values[0]);
                $(ulControlName).val(ui.values[1]);
            }
        });
        $(llControlName).val($(sliderDiv).slider("values", 0));
        $(ulControlName).val($(sliderDiv).slider("values", 1));
    }

    function SaveParameters() {
        var parameters = $("#parameterForm").serialize();
        $.ajax({
            type: "POST",
            url: "SaveParameters",
            dataType: "html",
            data: parameters,
            success: function (data) {
                ShowMessage("success", "Parameters were saved successfully.");
            },
            error: function (request, textStatus, errorThrown) {
                ShowCallbackError(request, textStatus, errorThrown);
            }
        });
    }

    $(function () {
        @*Html.Raw(scriptBuilder.ToString())*@
        //DrawVerticalSlider("#SliderBPMSystolic", "#BPMSystolic", "vertical", true, 60, 160, 80, 120);
        //DrawVerticalSlider("#SliderBPMDiastolic", "#BPMDiastolic", "vertical", true, 100, 200, 120, 160);
        //DrawVerticalSlider("#SliderPRM", "#PRM", "vertical", true, 60, 120, 70, 95);
        //DrawVerticalSlider("#SliderPOM", "#POM", "vertical", true, 70, 160, 80, 120);
        //DrawVerticalSlider("#SliderTMM", "#TMM", "vertical", true, 50, 110, 80, 100);
        //DrawVerticalSlider("#SliderWSM", "#WSM", "vertical", true, 70, 450, 168, 300);

        //DrawVerticalSlider("#SliderBGM", "#BGM", "vertical", true, 80, 140, 90, 120);
    });
</script>


@section LeftSection
{
    @Html.Partial("_UserInfo", Helper.CurrentUser)
}