﻿@model Notification[]
@{
    ViewBag.Layout = "TwoColumn";
    ViewBag.Title = "Messages";
}
<fieldset>
    <legend>Messages for @Helper.CurrentUser.NickName</legend>
    @if (Model.Count() >= 0)
    {
        <div class="row">
            <div class="large-3 columns">
                No Messages
            </div>
        </div>
    }
</fieldset>

@section LeftSection
{
    @Html.Partial("_UserInfo", Helper.CurrentUser)
}