﻿@model string
@{
    ViewBag.Layout = "TwoColumn";
    ViewBag.Title = "Success";
}
<div class="row">
    <div class="twelve columns">
        @Model
        <br /><br />
        <a href="@Request.UrlReferrer" class="tertiary" title="Go Back.">Go Back</a>
    </div>
</div>
@section LeftSection
{
    @Html.Partial("_UserInfo", Helper.CurrentUser)
}