﻿@model LogOnModel
@{
    ViewBag.Title = "Log On";
    ViewBag.Layout = "OneColumn";
}

@Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.")

<form id="loginForm" action="/Account/Logon" method="post">
    <div class="row">
        <div class="large-4 push-4 columns">

            <div class="row">
                <div class="large-12 columns">
                    @Html.Label("Email / UserName")
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    @Html.TextBoxFor(m => m.UserName, new { autofocus = "autofocus" })
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                    @Html.LabelFor(m => m.Password)
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    @Html.PasswordFor(m => m.Password, new { autocomplete = "off" })
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                    <label>
                        @Html.CheckBoxFor(m => m.RememberMe)
                        Remember Me
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <br />
                    <input type="submit" value="Log On" class="small button" />
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <label>
                        Forgot Password? <a href="javascript:void(0)" onclick="ForgotPassword()">Click Here</a>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <label>
                        Want to register your account? <a href="Register">Register</a>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <label>
                        Don't have an account? <a href="https://myvitalz.com/contact/">Contact Us</a>
                    </label>
                </div>
            </div>
            @*<div class="row">
                <div class="large-12 columns">
                    <label>
                        Need Help? <a href="/Help/Logon.pdf" class="helpLink" target="HelpWindow" title="Click here for help"> <i class="fa fa-question-circle"></i> Click Here</a>
                    </label>
                </div>
            </div>*@
        </div>
    </div>
</form>

<script type="text/javascript">
    function ForgotPassword() {
        $("#loginForm").attr("action", "ForgotPassword");
        $("#loginForm").submit();
    }
</script>