﻿@model GroupType[]
@{
    ViewBag.Layout = "TwoColumn";
    ViewBag.Title = "Groups";
}
@Html.Partial("_BreadCrumbs", new BreadCrumbsModel("Groups", Helper.CurrentUser.UserId))

<div id="groupListDiv">
    @Html.Partial("_ListGroups", Model)
</div>
<br/><br/>
<p>
    <a href="javascript:void(0)" onclick="AddGroup()" class="button small">Add Group</a>
</p>

<script type="text/javascript">
@{var userAgent = Request.UserAgent;
}
    function ManageGroup(title, parameters) {
        $.ajax({
            type: "POST",
            url: "GetGroupDialog",
            dataType: "html",
            data: parameters,
            success: function (data) {
                OpenDialogWindow(title, data);
            },
            error: function (request, textStatus, errorThrown) {
                ShowCallbackError(request, textStatus, errorThrown);
            }
        });
    }

    function AddGroup() {
        var parameters = {};
        ManageGroup("Add Group", parameters);
    }

    function EditGroup(groupType, groupTypeDesc) {
        var parameters = { groupType: groupType, groupTypeDesc: groupTypeDesc };
        ManageGroup("Edit Group", parameters);
    }

    function SaveGroup() {
        var parameters = $("#groupForm").serialize();
        $.ajax({
            type: "POST",
            url: "SaveGroup",
            dataType: "html",
            data: parameters,
            success: function (data) {
                CloseDialogWindow();
                ShowMessage("success", "Group was saved successfully.");
                $("#groupListDiv").html(data);
            },
            error: function (request, textStatus, errorThrown) {
                ShowDialogCallbackError(request, textStatus, errorThrown);
            }
        });
    }
    
    function InitializeGroupTable() {
        var tableWidth = (400 * 1500 / $(window).width());
        tableWidth = parseInt(tableWidth);
        tableWidth = "auto";
        var tableHeight = $("#groupTable").height();
        tableHeight = tableHeight / 1.3;
        if (tableHeight > 400) {
            tableHeight = 400;
        }
        tableHeight = "auto";
        $('#groupTable').dataTable({
            "bJQueryUI": false,
            "bAutoWidth": false,
            "bPaginate": false,
            "bStateSave": false,
            "sPaginationType": "full_numbers",
            "aLengthMenu": DefaultDataTableLengthMenu,
            "fnDrawCallback": EnableOrDisablePagination,
            "sScrollX": tableWidth,
            "bScrollCollapse": false,
            "sScrollY": tableHeight,
            "aaSorting": []
        });
    }
</script>

@section LeftSection
{
    @Html.Partial("_UserInfo", Helper.CurrentUser)
}
