﻿.navbar {
    border-width: 0px;
	min-height: 0px;
 }

.navbar-header
{
    display:none;
}
.footer
{
    display:none;
}
body {
    background: none;
}
.panel-heading, .modal-header, .navbar
{
	background-color:none;
	/*background-image: url("https://portal.myvitalz.com/images/ui-bg_highlight-soft_75_cccccc_1x100.png") repeat-x scroll 50% 50% #cccccc;*/
	background-image: url("https://portal.myvitalz.com/images/FooterBg.png") !important;
	border-color:gray;
}

.panel,.modal-header,.modal .modal-content {
	border-color:gray;
}
.btn-primary{
    border: 1px solid #DAB347;
    color: #835503;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
    background-color: #feda71;
    background-image: -moz-linear-gradient(top, #feda71, #febb4a);
    background-image: -ms-linear-gradient(top, #feda71, #febb4a);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#feda71), to(#febb4a));
    background-image: -webkit-linear-gradient(top, #feda71, #febb4a);
    background-image: -o-linear-gradient(top, #feda71, #febb4a);
    background-image: linear-gradient(top, #feda71, #febb4a);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#feda71', endColorstr='#febb4a', GradientType=0);
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
. {
  display: none;
}
#Clinic .panel p:last-child
{
	display: none;
}


#LaunchModalTitle {
  text-indent: -9999px;
  line-height: 0; /* Collapse the original line */
}

#LaunchModalTitle::after {
  content: "Launching Myvitalz Video Consultation Application ...";
  text-indent: 0;
  display: block;
  line-height: initial; /* New content takes up original line height */
}
